/* Move down content because we have a fixed navbar that is 50px tall */
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css?family=Handlee);
 @import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=Alike);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
 font-family: 'Handlee', cursive;
  font-weight: 500;
  line-height: 1.1;

}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 15px;
  margin-bottom: 5px;
}
h3,
.h3 {
 font-family: 'Alike', serif;
 font-size: 20px;

 color: #E7E7E7;

 background-color: #777283;

 padding-top: 5px;
 padding-bottom: 5px;
 line-height: 28px;
 text-align: center
}

h5 {font-family: 'Handlee', cursive;
 font-size: 14px;
 text-align: center;
 color: #750000

}
h2{
 font-family: 'Handlee', cursive;
 font-size: 30px;
 text-align: center;
 color: #750000
}
h4{
 font-family: 'Handlee', cursive;
 font-size: 18px;
 text-align: center;
 color: #F8F8F8;
 margin-top: 2px;
 padding-top: 5px
}
.small{
    font-size: 13px;
    font-style: italic;
    font-weight: 700
}

body {
  min-height: 2000px;
  padding-top: 100px;
  padding-bottom: 20px;
  color: #333333
}

.navbar-collapse.collapse.in {
    display: block!important;
}
/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
body {
  min-height: 2000px;
  padding-top: 140px;
  padding-bottom: 20px;
  color: #333333
}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  select {
        border: 0 !important;  /*Removes border*/
        -webkit-appearance: none;  /*Removes default chrome and safari style*/
        -moz-appearance: none; /* Removes Default Firefox style*/
        background: #E7E7E7 url(../images/select-arrow.png) no-repeat right;
        width: 100%; /*Width of select dropdown to give space for arrow image*/
        text-indent: 0.01px; /* Removes default arrow from firefox*/
        text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/
        color: #5F5B68;
        border-radius: 5px;
        padding: 2px;
        box-shadow: inset 0 0 3px rgba(231, 231, 231, 1);
    }
body {
  min-height: 2000px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #333333
}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
body {
  min-height: 2000px;
  padding-top: 120px;
  padding-bottom: 20px;
  color: #333333
}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
body {
  min-height: 2000px;
  padding-top: 100px;
  padding-bottom: 20px;
  color: #333333
}


}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {



}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {



}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {



}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */

@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
html,
body {
  height: 100%;
  width: 100%;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.countries {
  padding-top: 20px;
  padding-bottom: 10px;

  background-color: #595562;


    text-align: center;
    color: #403E47;


}
.jumbotron {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: inherit;
  background-color: transparent;
  margin-top: 60px
}

.ft-affix {
  width: 200px;
}
.container{
    margin-top: 0px;
    padding-top: 0px
}

#container{
z-index:2;
padding-top: 0px
}
.navbar-brand {
  float: left;
  padding: 5px 4px;

  height: 5px;
  padding-bottom: 0px
}
.navbar-default {
  background-color: #f8f8f8;

  border: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: 5px solid #403E47
}
.navbar-right > li > a {
     padding-top: 10px;    padding-left: 2px;
  padding-right: 2px;
padding-bottom: 0px;
margin-bottom: 0px;
font-family: 'Bree Serif', serif;
  color: #EEEEEE;
  font-size: 16px;

  text-transform: uppercase;
 }
.navbar-right > li > a:hover,
.navbar-right > li > a:focus {
  color: #333333;
  background-color: #E7E7E7;
}
.navbar-default .navbar-brand {
color: #5F5B68;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-default .navbar-text {
color: #5F5B68;
}
.navbar-default .navbar-nav > li > a { font-family: 'Bree Serif', serif;
  color: #5F5B68;
  font-size: 24px;

  text-transform: uppercase;
  padding-top: 0px;
  padding-bottom: 5px;

}
 .navbar-nav > li > a { padding-top: 10px; margin-top: 5px; padding-left:30px; padding-right: 30px }
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333333;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555555;
  background-color: #e7e7e7;
}
#nav.affix { z-index:1;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #A09DA4
}
#nav {
  background: #B7B3B6;
}
#nav > .navbar-collapse > ul > li > a {
  color: #5F5B68;;
}
#nav.affix > .navbar-collapse > ul > li > a {
  color: #D3D1D7;;
}
#nav > .navbar-collapse > ul > .active > a {
  background: #cacaca;
  color: #24c9eb;
}
#nav > .navbar-collapse > ul > li > a:focus {
  background: #cacaca;
  color: #24c9eb;
}
#nav > .navbar-header > .navbar-brand {
  color: white;
}
#nav > .navbar-header > .navbar-toggle {
  border-color: white;
}
#nav > .navbar-header > .navbar-toggle:hover {
 background-color: blue;
}
.label-danger {
  background-color: #A09DA4;
  font-size: 14px;
  color: #333333;
  font-weight: normal;
  padding-bottom: 5px;
  padding-top: 5px;
  line-height: 1.5;
}
.label-danger a{

  font-size: 14px;
  color: #F6F6EE;

}

.media img { width:100%;
  padding-right: 0px;
  padding-top: 0px;
  margin-top: 0px;
  border: 2px dashed #403E47;
  margin-bottom: 0px;
  padding-bottom: 0px
}
.media {
  margin-top: 5px;
  padding-top: 0px
}
.media:first-child {
  margin-top: 0;
}
.media,
.media-body {
  zoom: 1;
  overflow: hidden;
}
.media-body {
  width: 10000px;
}
.media-object {
  display: block;
}
.media-object.img-thumbnail {
  max-width: none;
}
.media-right,
.media > .pull-right {
  padding-left: 10px;
}
.media-left,
.media > .pull-left {
  padding-right: 10px;
}
.media-left,
.media-right,
.media-body {
  display: table-cell;
  vertical-align: top;
}
.media-middle {
  vertical-align: middle;
}
.media-bottom {
  vertical-align: bottom;
}
.media-heading {
  margin-top: 0;
  margin-bottom: 5px;
}

/* mywpdev edits*/

.table-first td.videos {
    text-align: center;
}
.table-first, .table-second {
    max-width: 97%;
}
.table-second td.middle a {
    line-height: 3;
}

.table-second td {
    padding: 0 5px;
}
table.table-second {
    margin-top: 30px;
}

td.first, td.middle {
    border: 0px;
    border-right: 1px solid #a4a0a0 !important;
}

body.myhome {
    min-width: 1080px;
}