@charset "utf-8";
/* CSS Document */
/* background color was FFF */

h1 { padding-bottom: 2px; }

h2 
{ 
font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: black;
	text-align: left;
}

#nav { 
 text-align:left;
 float: left;
 left: 5px;
 top: 5px;
 padding-top: 1px;
 padding-bottom: 1px;
 background-position: center;
 background-color: clear;
 height: 100px;
 width: 300px;
 text-decoration:none;
}

/* 3. Config the navigation hyperlinks. */
#nav a {
text-decoration:none;
padding-bottom: 2px;
}

/* 4. set pseudo-classes for the nav hyperlinks */
#nav a:link {
color:#996633;
}

#nav a:visited {
color:#ccaa66;
}

#nav a:hover {
color: black;
}
/*  end 4. */

/* 5. configure unordered list */
#nav ul {
list-style-type:none;
}

#content {
	background-color:#FFF;
	width: 960px;
	}

#arttext {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #666;
	text-align: left;
}

#arttext a{
	text-decoration:underline;
	color: #666;
	
}
/* was 1500px for height */	
#countrylist{
	overflow: scroll;
	width: 300px;
	height: 1200px;
	overflow-x: hidden;

}

#countrylist a{
	text-decoration:underline;
	color: #666;

}
#footer {
	font-family: Verdana, Geneva, sans-serif;
	font-size:10px;
}
#footer a{
	font-family: Verdana, Geneva, sans-serif;
	font-size:10px;
	text-decoration:underline;
	color:#000;
}
#marque 
{
	text-align: center;
	width: 900px;
	height: 60px;
}
