

@media (max-width: 767px) {
  .t3-navhelper {
    margin-left: -20px;
    margin-right: -20px;
  }
  .t3-mainnav {
    background: #fff;
    border-top: 1px solid #f2f2f2;
    height: auto;
    margin-left: -20px;
    margin-right: -20px;
  }
  .t3-mainnav .navbar .btn-navbar:hover {
    cursor: pointer;
  }
  .t3-mainnav .header-menu.nav-collapse {
    min-height: 0 !important;
    background: #2a2a2a !important;
    margin-top: 0;
  }
  .t3-mainnav .header-menu.nav-collapse.in {
    border-top: 1px solid #eaeaea;
    width: 100% !important;
  }
  .t3-mainnav .header-menu.nav-collapse .t3-megamenu .nav {
    padding: 20px;
  }
  .t3-mainnav .header-menu.nav-collapse .t3-megamenu .nav > li {
    margin-bottom: 10px;
  }
  .t3-mainnav .header-menu.nav-collapse .t3-megamenu .nav > li > a {
    color: #ddd;
    padding: 5px 20px;
    background-color: #1a1a1a;
    border: none;
    text-transform: uppercase;
    font-size: 11px;
  }
  .t3-mainnav .header-menu.nav-collapse .t3-megamenu .nav > li > a i {
    margin-right: 5px;
  }
  .t3-mainnav .header-menu.nav-collapse .t3-megamenu .nav > li > a:hover,
  .t3-mainnav .header-menu.nav-collapse .t3-megamenu .nav > li > a:focus,
  .t3-mainnav .header-menu.nav-collapse .t3-megamenu .nav > li > a:active {
    background-color: #0a0a0a;
  }
  .t3-mainnav .header-menu.nav-collapse .t3-megamenu .nav > li.active > a {
    background-color: #0a0a0a;
  }
  .t3-mainnav .header-menu.nav-collapse .t3-megamenu .nav > li .separator {
    background-color: #1a1a1a;
    border: none;
    padding: 5px 20px;
    color: #ddd;
    display: block;
    text-transform: uppercase;
    font-size: 11px;
  }
  .t3-mainnav .header-menu.nav-collapse .t3-megamenu .nav > li .separator:hover,
  .t3-mainnav .header-menu.nav-collapse .t3-megamenu .nav > li .separator:focus,
  .t3-mainnav .header-menu.nav-collapse .t3-megamenu .nav > li .separator:active {
    background-color: #0a0a0a;
  }
  .t3-mainnav .header-menu.nav-collapse .side-nav-ofc .nav,
  .t3-mainnav .header-menu.nav-collapse .side-nav-nofs .nav {
    padding: 0;
  }
  .t3-mainnav .header-menu.nav-collapse .side-nav-ofc .nav > li,
  .t3-mainnav .header-menu.nav-collapse .side-nav-nofs .nav > li {
    margin-bottom: 0;
  }
  .t3-mainnav .header-menu.nav-collapse .side-nav-ofc .nav > li > a,
  .t3-mainnav .header-menu.nav-collapse .side-nav-ofc .nav > li > .separator,
  .t3-mainnav .header-menu.nav-collapse .side-nav-nofs .nav > li > a,
  .t3-mainnav .header-menu.nav-collapse .side-nav-nofs .nav > li > .separator {
    border-top: 1px solid #3a3a3a;
    border-bottom: none;
    color: #ddd;
    padding: 15px 20px;
    background: none;
  }
  .t3-mainnav .header-menu.nav-collapse .side-nav-ofc .nav > li > .separator,
  .t3-mainnav .header-menu.nav-collapse .side-nav-nofs .nav > li > .separator {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
  }
  .t3-mainnav .header-menu.nav-collapse .side-nav-ofc .nav > li > .separator [class^="icon-"],
  .t3-mainnav .header-menu.nav-collapse .side-nav-nofs .nav > li > .separator [class^="icon-"] {
    margin-right: 5px;
  }
  .t3-mainnav .header-menu.nav-collapse .side-nav-ofc .nav [class^="icon-"],
  .t3-mainnav .header-menu.nav-collapse .side-nav-nofs .nav [class^="icon-"] {
    margin-right: 5px;
    color: #aaa;
    font-size: 14px;
  }
  .t3-mainnav .header-menu.nav-collapse .dropdown .mega-dropdown-menu {
    background: #3a3a3a;
  }
  .t3-mainnav .header-menu.nav-collapse .dropdown .mega-dropdown-menu ul {
    margin-left: 0 !important;
  }
  .t3-mainnav .header-menu.nav-collapse .dropdown .mega-dropdown-menu .mega-nav > li {
    padding: 0 33px;
    text-transform: uppercase;
    font-size: 11px;
    list-style: none;
  }
  .t3-mainnav .header-menu.nav-collapse .dropdown .mega-dropdown-menu .mega-nav > li a {
    padding: 8px 0 8px 15px;
    color: #ddd;
    border-top: none;
    border-bottom: 1px solid #4a4a4a;
    font-weight: bold;
    background: url("../../templates/ja_magz/images/arrow-menu-mb.png") no-repeat left 15px;
  }
  .t3-mainnav .header-menu.nav-collapse .dropdown .mega-dropdown-menu .mega-nav > li .mega-dropdown-menu {
    margin: 10px 0 5px;
  }
  .t3-mainnav .header-menu.nav-collapse .dropdown .mega-dropdown-menu .mega-nav > li .mega-dropdown-menu li {
    padding: 0;
    text-transform: none;
    font-size: 12px;
  }
  .t3-mainnav .header-menu.nav-collapse .dropdown .mega-dropdown-menu .mega-nav > li .mega-dropdown-menu li a {
    color: #8a8a8a;
    font-weight: normal;
    background: none;
    border: none;
  }
  .t3-mainnav .header-menu.nav-collapse .dropdown .mega-dropdown-menu .mega-nav > li .mega-dropdown-menu li a:hover,
  .t3-mainnav .header-menu.nav-collapse .dropdown .mega-dropdown-menu .mega-nav > li .mega-dropdown-menu li a:focus,
  .t3-mainnav .header-menu.nav-collapse .dropdown .mega-dropdown-menu .mega-nav > li .mega-dropdown-menu li a:active {
    color: #ddd;
  }
  .t3-mainnav .header-menu.nav-collapse .dropdown .mega-dropdown-menu .mega-nav > li .mega-dropdown-menu li.active a {
    color: #ddd;
  }
  .t3-mainnav .header-menu.nav-collapse .dropdown .mega-dropdown-menu .dropdown-submenu a:after {
    border: none;
  }
  .t3-mainnav .nav-collapse {
    margin-top: 10px;
    background: #fff;
  }
  .t3-mainnav .nav-collapse .nav {
    margin: 0;
  }
  .t3-mainnav .nav-collapse .nav > li > a {
    margin-bottom: 0;
  }
  .t3-mainnav .nav-collapse .nav > li > a,
  .t3-mainnav .nav-collapse .dropdown-menu a {
    border-bottom: 1px solid #eee;
    padding: 10px 20px;
    font-weight: bold;
    text-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .t3-mainnav .nav-collapse .dropdown-menu li + li a {
    margin-bottom: 0;
  }
  .t3-mainnav .nav-collapse .nav > li > a:hover {
    background-color: #666;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  }
  .t3-mainnav .nav-collapse .dropdown-menu a {
    border-top: 1px solid #f2f2f2;
    border-bottom: 0;
    font-weight: normal;
    padding: 10px 20px;
  }
  .t3-mainnav .nav-collapse .dropdown-menu a:hover {
    background-color: #666;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  }
  .t3-mainnav .nav-collapse .dropdown-menu {
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .t3-mainnav.navbar-collapse-fixed-top,
  .t3-mainnav.navbar-collapse-fixed-bottom {
    margin: 0;
  }
  .t3-mainnav.navbar-collapse-fixed-top .nav-collapse,
  .t3-mainnav.navbar-collapse-fixed-bottom .nav-collapse {
    margin: 0;
  }
  .t3-mainnav .vert-nav {
    display: none;
  }
  .t3-mainnav .navbar .nav > li > .dropdown-menu:before,
  .t3-mainnav .navbar .nav > li > .dropdown-menu:after,
  .t3-mainnav .navbar .nav > li > .dropdown-menu .divider {
    display: none;
  }
  .t3-mainnav .customization {
    display: none;
  }
}
.off-canvas #off-canvas-nav .t3-mainnav {
  border-top: none;
}
@media (min-width: 768px) {
  .side-nav-nofs {
    display: none !important;
  }
}

