

@media (max-width: 1024px) {
  .t3-mainnav  .navbar-inner [class*="span"] {
    width: auto !important;
    margin-left: 0 !important;
  }
  .t3-mainnav .navbar-inner .item-first {
    margin-right: 10px !important;
  }
  .t3-mainnav .navbar {
    width: auto !important;
    margin-left: 60px !important;
  }
  .top-header,
  .top-header .t3-sl {
    padding: 0;
    border: none;
  }
  .top-header .t3-sl {
    padding: 10px 0;
  }
  .logo {
    margin-left: 10px;
  }
  .contact .map-container {
    width: auto !important;
  }
  .floatnav {
    display: none;
  }
  .ja-tabswrap .ja-tab-subcontent ul.category-module li .tabs-category {
    overflow: hidden;
  }
  .maskDesc .ja-slide-desc {
    font-size: 25px;
  }
  .ja-slide-item img {
    height: auto !important;
    display: block;
  }
  .back-to-top {
    display: none;
  }
  .blog-post .blog-content-wrap {
    margin-left: 0 !important;
    width: 100% !important;
  }
  #eblog-wrapper .blog-content-wrap .blog-header,
  #eblog-wrapper .blog-content-wrap .blog-content {
    margin-left: 0 !important;
  }
  #socialbutton.alignright + .blog-text {
    margin-right: 0;
  }
  #eblog-wrapper .comment-body .form-row label {
    display: inline-block;
  }
  #eblog-wrapper .reset-ul.entry-related-post > li {
    padding: 10px 0px 20px;
  }
  #eblog-wrapper .comment-body .form-row.fsm {
    *zoom: 1;
  }
  #eblog-wrapper .comment-body .form-row.fsm:before,
  #eblog-wrapper .comment-body .form-row.fsm:after {
    display: table;
    content: "";
    line-height: 0;
  }
  #eblog-wrapper .comment-body .form-row.fsm:after {
    clear: both;
  }
  #eblog-wrapper .comment-body .form-row.fsm label {
    display: inline-block;
    white-space: inherit;
    margin-bottom: 0;
  }
  #eblog-wrapper .comment-body .form-row.fsm input#esregister {
    display: inline-block;
  }
  #write_container #editor-write_title .blogTitle .write-selectreaders select {
    width: 45% !important;
  }
  #write_container #editor-write_title .blogTitle .write-selectreaders select + select {
    float: right;
  }
  #write_container .locationForm .buttons.autoDetectButton {
    margin-top: 10px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .t3-mainnav  .navbar-inner [class*="span"] {
    width: auto !important;
    margin-left: 0 !important;
  }
  .t3-mainnav .navbar .logo {
    margin-left: 0;
  }
  .t3-footer .container {
    overflow: hidden;
  }
  .t3-footnav .item-first .t3-module,
  .t3-footnav .spanfirst .t3-module {
    padding-left: 0;
  }
  .spl-home-1 {
    overflow: hidden;
  }
  .spl-home-1 .focus-articles {
    margin-bottom: 40px;
  }
  .spl-home-1 .focus-articles .latest-items >li {
    border-bottom: 1px solid #eaeaea;
    min-height: 220px;
  }
  .spl-home-1 ul.latestusers li .avatar {
    text-align: center;
  }
  .spl-home-1 .item-last {
    padding-left: 0;
  }
  .spl-home-1 .item-last .t3-module {
    padding-left: 20px;
  }
  .banneritem img {
    width: 100%;
  }
  .t3-mainbody .t3-sidebar-2 {
    padding-left: 0;
  }
  .t3-mainbody .t3-sidebar-2 .t3-module {
    padding-left: 20px;
    margin-bottom: 20px;
  }
  .t3-footnav .t3-module {
    border-left: none;
  }
  .t3-footnav .item-first,
  .t3-footnav .item-first + .span4,
  .t3-footnav .item-first + .span4 + .span4 {
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 20px;
  }
  .ja-tabswrap .ja-tab-subcontent ul.category-module li .focus-image {
    width: 100%;
    margin-right: 0;
    float: none;
  }
  #ezblog-head .component-links {
    margin: 0 0 13px 0;
    width: 100%;
  }
  #ezblog-menu .blog-navi li.toolbar-item {
    border-right: 0 !important;
    border-bottom: 1px solid #222222 !important;
  }
  #ezblog-menu .blog-navi li.toolbar-item ul {
    border: 0;
    left: -1px;
  }
  #ezblog-menu .blog-navi .user-form form .input {
    width: 98%;
  }
  #ezblog-body #ezblog-featured {
    display: none;
  }
  #ezblog-body .blog-option ul li.print {
    display: none;
  }
  #ezblog-body .profile-brief .active-bloggers li {
    margin-right: 35px;
  }
  #ezblog-body #bloggers-sorting select,
  #ezblog-body #bloggers-sorting input {
    width: auto;
  }
  #eblog-wrapper .tag-sort-order #filter-tags {
    width: 170px;
  }
  #ezblog-dashboard #dashboard-entries .dashboard-head form.head-option {
    clear: both;
    display: inline-block;
    margin-top: 20px;
    width: 100%;
  }
  #ezblog-dashboard .ui-entries-filter li a {
    padding: 0 5px;
  }
  #ezblog-dashboard li .ui-button-option {
    margin-left: -75px;
    margin-top: 30px;
  }
  #ezblog-dashboard .ui-toolbar li {
    border-right: 0 !important;
    border-bottom: 1px solid #222222 !important;
  }
  #ezblog-dashboard .dashboard-option {
    display: inline-block;
    margin: 15px 0 0 0;
    width: 100%;
  }
  #ezblog-dashboard .dashboard-option .float-r {
    float: none;
    margin-bottom: 5px;
    text-align: right;
    width: 100%;
  }
  #ezblog-dashboard .list-form li > div.input-label {
    margin-right: 9px !important;
  }
  #ezblog-dashboard .ui-medialink .ui-togmenugroup > a + i {
    margin: 0 3px;
  }
  #ezblog-dashboard .dashboard-tags .ui-modbox .ui-modbody .list-form li > label {
    width: 100px;
  }
  #ezblog-dashboard .dashboard-tags .ui-modbox .ui-modbody .list-form li > label + div {
    margin-left: 105px;
  }
  .layout-drafts #ezblog-dashboard li .ui-button-option {
    margin-left: 0;
  }
  #eblog-wrapper.w320 .list-form li > label,
  #eblog-dialog .list-form li > label {
    float: left;
    text-align: right;
  }
  #eblog-wrapper.w320 .list-form li > label + div,
  #eblog-dialog .list-form li > label + div {
    margin: 4px 10px 0 155px;
  }
}
@media (max-width: 767px) {
  .t3-mainnav .navbar-inner .item-first {
    margin-right: 0 !important;
  }
  .t3-mainnav .navbar {
    width: auto !important;
    margin-left: 0 !important;
  }
  .top-header,
  .spl-home-1,
  .spl-home-2,
  .spl-home-3 {
    display: none;
  }
  body {
    padding-top: 50px;
  }
  .t3-module {
    margin-bottom: 20px;
  }
  .t3-mainnav .item-first {
    width: auto;
    float: left;
    clear: none;
  }
  .t3-mainnav .head-social {
    width: auto;
  }
  .logo {
    width: 100% !important;
    margin: 10px 0 0 0;
  }
  .logo .brand {
    margin-left: 0;
  }
  .logo-image a.bg-image {
    background-image: url("../../templates/ja_magz/images/logo-mb.png");
    width: 30px;
  }
  .head-search {
    float: left !important;
    margin-top: 20px;
    margin-left: 0 !important;
    width: 100% !important;
  }
  .head-search form {
    float: none;
  }
  .head-search .input {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
  }
  .head-search .input:focus {
    width: 100%;
  }
  .t3-header .span8,
  .t3-header .span4 {
    width: 100% !important;
    margin-left: 0 !important;
    float: none;
  }
  .languageswitcherload {
    float: left;
  }
  .languageswitcherload .mod-languages {
    text-align: right;
  }
  .registration .control-group input,
  .registration .control-group textarea {
    width: 95%;
  }
  .registration legend + .control-group {
    margin-top: 0;
    margin-bottom: 0;
  }
  .tpl-inf-wrapper h1 {
    background: none;
    padding-top: 0;
    font-size: 35px;
  }
  .tpl-layout-switch {
    top: 5px;
  }
  .t3-mainbody .t3-sidebar-2 {
    background: none;
    padding: 20px 0 0 0;
    margin: 0;
  }
  .banneritem img {
    width: 100%;
  }
  .t3-sl {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .t3-footer {
    margin-left: -20px;
    margin-right: -20px;
  }
  .back-to-top {
    display: none;
  }
  .t3-footer .t3-sl {
    padding: 0;
  }
  .t3-footnav {
    font-size: 11px;
    padding-top: 0;
  }
  .t3-footnav .module-title {
    font-size: 13px;
    font-weight: bold;
  }
  .t3-footnav > div[class^="span"],
  .t3-footnav > div.item-first,
  .t3-footnav > div.item-last {
    width: 33.3%;
    float: left;
    margin-left: 0;
  }
  .t3-footnav > div[class^="span"] > .t3-module,
  .t3-footnav > div.item-first > .t3-module,
  .t3-footnav > div.item-last > .t3-module {
    border-bottom: 1px solid #eaeaea;
    padding-top: 20px;
  }
  .t3-copyright {
    padding: 20px 20px 40px;
    *zoom: 1;
    text-align: center;
  }
  .t3-copyright:before,
  .t3-copyright:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .t3-copyright:after {
    clear: both;
  }
  .t3-copyright > .container {
    padding-top: 0;
    border: none;
    text-align: center;
  }
  .t3-copyright .footer-logo {
    display: none;
  }
  .t3-copyright div[class^="span"] {
    width: 100%;
    margin-left: 0;
  }
  .t3-copyright .footer-social {
    margin-top: 20px;
  }
  .t3-copyright .footer-social > .custom {
    float: none;
  }
  .t3-copyright .footer-social > .custom .addthis_default_style > a {
    display: inline-block;
    float: none;
  }
  .copyright,
  .poweredby {
    float: none;
    display: block;
    text-align: center;
  }
  .poweredby {
    margin-top: 10px;
  }
  .poweredby .t3-logo,
  .poweredby .t3-logo-small {
    float: none;
    display: inline-block;
  }
  .carousel .carousel-control {
    height: 80px;
    width: 40px;
    top: 40%;
    margin-top: -40px;
  }
  .carousel .carousel-control.left:before {
    left: 10px;
    top: 50%;
    margin-top: -10px;
  }
  .carousel .carousel-control.right:before {
    right: 10px;
    top: 50%;
    margin-top: -10px;
  }
  .registration .form-horizontal .control-label {
    margin-bottom: 10px;
  }
  .registration .form-horizontal .control-label label.hasTip {
    display: inline-block;
  }
  .registration .form-horizontal .form-actions {
    padding: 0;
  }
  .contact .contact-wrap > h3:first-child {
    font-size: 35px;
  }
  #finder-search fieldset.word input.inputbox {
    margin-bottom: 10px;
    vertical-align: top;
  }
  .head-social .languageswitcher-block:hover .dropdown-menu,
  .head-social .languageswitcher-block:focus .dropdown-menu,
  .head-social .languageswitcher-block:active .dropdown-menu {
    display: block;
  }
  .login-wrap.secretkey {
    width: 100%;
  }
  .login-wrap.secretkey .well .control-group {
    width: 33%;
  }
  .login-wrap.secretkey .well .control-group .controls input {
    width: 90%;
  }
  #eblog-wrapper .float-l {
    float: left !important;
  }
  #eblog-wrapper .float-r {
    float: right !important;
  }
  #ezblog-head .component-links {
    margin: 0 0 13px 0;
    width: 100%;
  }
  #ezblog-menu .blog-navi li.toolbar-item.float-r {
    float: right !important;
  }
  #ezblog-menu .blog-navi .user-form form .input {
    width: 98%;
  }
  #ezblog-body .blog-read {
    width: 100%;
  }
  .video-container iframe {
    width: 100% !important;
    height: auto !important;
  }
  #ezblog-body .profile-brief .active-bloggers li {
    margin-right: 35px;
  }
  #ezblog-body #bloggers-sorting select,
  #ezblog-body #bloggers-sorting input {
    width: auto;
  }
  #ezblog-body #ezblog-featured {
    display: none;
  }
  #ezblog-body .blog-option ul li.print {
    display: none;
  }
  #ezblog-dashboard #dashboard-entries .dashboard-head form.head-option {
    clear: both;
    display: inline-block;
    margin-top: 20px;
    width: 100%;
  }
  #ezblog-dashboard .ui-entries-filter li a {
    padding: 0 5px;
  }
  #ezblog-dashboard .list-form li > div.input-label {
    margin-right: 11px !important;
  }
}
@media (max-width: 480px) {
  .t3-footnav > div[class^="span"],
  .t3-footnav > div.item-first,
  .t3-footnav > div.item-last {
    width: 50%;
    float: left;
  }
  .t3-footnav > div[class^="span"] > .t3-module,
  .t3-footnav > div.item-first > .t3-module,
  .t3-footnav > div.item-last > .t3-module {
    border-bottom: 1px solid #eaeaea;
    padding-top: 20px;
  }
  .infinity-cont.av-grid.grid-cols-4 .items,
  .infinity-cont.av-grid.grid-cols-3 .items {
    width: 100%;
  }
  .login-wrap {
    width: auto;
    margin: 0;
  }
  .login-wrap.secretkey {
    width: 100%;
  }
  .login-wrap.secretkey .well .control-group {
    width: 100%;
  }
  .login-wrap .login {
    padding-top: 0;
  }
  .login-wrap .well .control-group {
    float: none;
    width: auto;
  }
  .login-wrap .well .control-group .controls input {
    width: 90%;
  }
  .login-wrap .other-links {
    padding: 0px 10px 20px 10px;
  }
  .login-wrap .other-links ul li {
    display: block;
    text-align: left;
  }
  .login-wrap .other-links ul li > a {
    border: none;
    padding: 2px 0 2px 15px;
  }
  .head-social .languageswitcher-block .dropdown-menu {
    min-width: 150px !important;
    width: 150px !important;
  }
  .head-social .languageswitcher-block .dropdown-menu li a {
    font-size: 0px;
    text-indent: -999em;
  }
  .head-social .nav > li > a,
  .head-social .nav > li > .mod-languages > a {
    padding: 15px !important;
  }
  .logout {
    width: auto;
    margin: 0;
  }
  #ezblog-menu .blog-navi li.toolbar-item {
    border-right: 0 !important;
    border-bottom: 1px solid #222222 !important;
  }
  #ezblog-menu .blog-navi li.toolbar-item ul {
    border: 0;
    left: -1px;
  }
  #ezblog-menu .blog-navi .user-form form .input {
    width: 98%;
  }
  #eblog-wrapper .blog-rating .ratings-value b {
    display: none;
  }
  #ezblog-body .profile-brief .active-bloggers li {
    margin-right: 10px;
  }
  #ezblog-body #bloggers-sorting select,
  #ezblog-body #bloggers-sorting input {
    width: auto;
  }
  #eblog-wrapper .tag-sort-order #filter-tags {
    width: 125px;
  }
  #ezblog-dashboard .ui-toolbar li {
    border-right: 0 !important;
    border-bottom: 1px solid #222222 !important;
  }
  #ezblog-dashboard .dashboard-option {
    display: inline-block;
    margin: 15px 0 0 0;
    width: 100%;
  }
  #ezblog-dashboard .dashboard-option .float-r {
    float: none;
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
  }
  #ezblog-dashboard .list-form li > div.input-label {
    margin-right: 8px !important;
  }
  #ezblog-dashboard #dashboard-entries .dashboard-head form.head-option input.input.search-head {
    background-position: 135px center;
    width: 125px;
  }
  #ezblog-dashboard .dashboard-tags .ui-modbox .ui-modbody .list-form li > label {
    width: 70px;
  }
  #ezblog-dashboard .dashboard-tags .ui-modbox .ui-modbody .list-form li > label + div {
    margin-left: 75px;
  }
  #ezblog-dashboard .dashboard-tags .ui-modbox .ui-modbody .list-form li > label + div .input.text {
    width: 200px;
  }
  #eblog-wrapper.w320 #ezblog-dashboard .list-form li.columns-2 > div {
    float: none;
    width: 100%;
  }
  #eblog-wrapper.w320 .list-form li > label,
  #eblog-dialog .list-form li > label {
    float: left;
    text-align: right;
  }
  #eblog-wrapper.w320 .list-form li > label + div,
  #eblog-dialog .list-form li > label + div {
    margin: 4px 10px 0 155px;
  }
}
@media (max-width: 360px) {
  #eblog-wrapper #ezblog-head h1 {
    font-size: 40px;
  }
  #eblog-wrapper #ezblog-body .blog-avatar + .blog-cap .blog-created,
  #eblog-wrapper #ezblog-body .blog-avatar + .blog-cap .blog-category {
    display: none;
  }
  #eblog-wrapper #ezblog-body .blog-avatar + .blog-meta .blog-created,
  #eblog-wrapper #ezblog-body .blog-avatar + .blog-meta .blog-category {
    display: none;
  }
  #eblog-wrapper #ezblog-body .blog-post .blog-title,
  #eblog-wrapper #ezblog-body .blog-post .blog-title a {
    font-size: 18px;
  }
  #eblog-wrapper #ezblog-body .blog-admin {
    top: -2px;
  }
  #eblog-wrapper #ezblog-body .blog-read .blog-title {
    font-size: 18px;
  }
  #eblog-wrapper #ezblog-body .easyblog-meta {
    margin-bottom: 15px;
  }
  #eblog-wrapper #ezblog-body .blog-option ul {
    margin-top: 10px;
    width: 100%;
  }
  #eblog-wrapper #ezblog-body .comment-content .comment-body .form-row label {
    white-space: normal;
  }
  #eblog-wrapper #ezblog-body .profile-connect .connect-links li {
    width: 100%;
  }
  #eblog-wrapper #ezblog-body .profile-connect .connect-links li + li {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
  }
  #eblog-wrapper #ezblog-body .tag-sort-order li {
    width: 100%;
  }
  #eblog-wrapper #ezblog-body .tag-sort-order li + li {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
  }
  #eblog-wrapper #ezblog-body .post-tags.column3 li {
    width: 100%;
  }
  #eblog-wrapper #ezblog-body #bloggers-sorting input.inputbox.text {
    margin-bottom: 10px;
    width: 95%;
  }
  #eblog-wrapper #ezblog-body #bloggers-sorting select#sort {
    width: 75%;
  }
  #eblog-wrapper #ezblog-body #bloggers-sorting input.button {
    float: right;
    margin: 0;
  }
  #eblog-wrapper #ezblog-dashboard #dashboard-entries .dashboard-head form.head-option {
    text-align: right;
  }
  #eblog-wrapper #ezblog-dashboard #dashboard-entries .dashboard-head form.head-option input.input.search-head {
    background-position: 150px center;
    margin-bottom: 10px;
    width: 140px;
  }
  #eblog-wrapper #ezblog-dashboard #dashboard-entries form#entries-form .ui-content .ui-button-option {
    margin-left: -75px;
    margin-top: 30px;
  }
  #eblog-wrapper #ezblog-dashboard #dashboard-comments .dashboard-head form.head-option {
    text-align: right;
  }
  #eblog-wrapper #ezblog-dashboard #dashboard-comments .dashboard-head form.head-option input.input.search-head {
    background-position: 150px center;
    margin-bottom: 10px;
    width: 140px;
  }
  #eblog-wrapper #ezblog-dashboard #dashboard-comments .ui-content .ui-button-option {
    margin-left: -75px;
    margin-top: 30px;
  }
  #eblog-wrapper #ezblog-dashboard .ui-item-content .ui-entry-meta li + li {
    margin-left: 4px;
    padding-left: 5px;
  }
  #eblog-wrapper #ezblog-dashboard .dashboard-tags .ui-modbox .ui-modbody .list-form li > label {
    width: 55px;
  }
  #eblog-wrapper #ezblog-dashboard .dashboard-tags .ui-modbox .ui-modbody .list-form li > label + div {
    margin-left: 60px;
  }
  #eblog-wrapper #ezblog-dashboard .dashboard-tags .ui-modbox .ui-modbody .list-form li > label + div .input.text {
    width: 140px;
  }
  #eblog-wrapper #ezblog-dashboard .list-form li > div.input-label {
    margin-right: 6px !important;
  }
  #eblog-wrapper #ezblog-dashboard #write_container #widget-quickpost #quick-post-wrap #quick-photo .quick-attachment .input.width-200 {
    width: 140px;
  }
  #eblog-wrapper #ezblog-dashboard #write_container #widget-quickpost #quick-post-wrap #quick-video .quick-attachment .input.width-300 {
    width: 220px;
  }
  #eblog-wrapper.w320 .list-form li > label,
  #eblog-dialog .list-form li > label {
    float: none;
    text-align: left;
  }
  #eblog-wrapper.w320 .list-form li > label + div,
  #eblog-dialog .list-form li > label + div {
    margin: 4px 10px 0 0px;
  }
  #blog-login ul.blog-login-helper li {
    display: block;
    float: none !important;
    margin: 0 0 5px 0;
  }
  #ezblog-menu.narrow .blog-navi li .tips {
    width: 80%;
  }
}
@media (max-width: 320px) {
  .head-social .languageswitcher-block .dropdown-menu {
    right: -25px;
  }
  #eblog-wrapper #ezblog-body #bloggers-sorting select#sort {
    width: 70%;
  }
  #eblog-wrapper #ezblog-dashboard .dashboard-head .dashboard-breadcrumb .user-brief span.user-name {
    display: none;
  }
  #eblog-wrapper #ezblog-dashboard .dashboard-head .dashboard-breadcrumb .user-brief span.user-name + span {
    margin: 0;
  }
  #eblog-wrapper #ezblog-dashboard .dashboard-option .float-r .buttons {
    padding: 0 6px;
  }
  #eblog-wrapper #ezblog-dashboard #dashboard-entries form#entries-form .ui-content .ui-button-option {
    margin-top: 15px;
  }
  #eblog-wrapper #ezblog-dashboard #dashboard-entries form#entries-form .ui-content .ui-button-option .buttons {
    padding: 0 4px;
  }
  #eblog-wrapper #ezblog-dashboard #dashboard-comments .ui-content .ui-button-option {
    margin-top: 15px;
  }
  #eblog-wrapper #ezblog-dashboard #dashboard-comments .ui-content .ui-button-option .buttons {
    padding: 0 5px;
  }
  #eblog-wrapper #ezblog-dashboard .dashboard-tags .ui-modbox .ui-modbody .list-form li > label + div .input.text {
    width: 100px;
  }
  #eblog-wrapper #ezblog-dashboard .list-form li > div.input-label {
    margin-right: 5px !important;
  }
  #eblog-wrapper #ezblog-dashboard #write_container #widget-quickpost #quick-post-wrap #quick-photo .quick-attachment .input.width-200 {
    width: 100px;
  }
  #eblog-wrapper #ezblog-dashboard #write_container #widget-quickpost #quick-post-wrap #quick-video .quick-attachment .input.width-300 {
    width: 180px;
  }
  #eblog-wrapper #ezblog-dashboard #write_container #editor-write_title .blogTitle .write-selectreaders select {
    width: 43% !important;
  }
  #eblog-wrapper #ezblog-dashboard #write_container #editor-write_title .blogTitle .write-selectreaders select + select {
    float: right;
  }
  #blog-login #form-login-username input,
  #blog-login #form-login-password input {
    width: 230px;
  }
  #ezblog-menu.narrow .blog-navi li .tips {
    width: 78%;
  }
}

