

.t3-module {
  background: transparent;
  color: inherit;
  margin-bottom: 40px;
}
.t3-module .module-inner {
  padding: 0;
}
.t3-mainbody .t3-sidebar-2 {
  background: url("../../templates/ja_magz/images/line.gif") repeat-y left top;
  margin-left: 20px;
  margin-bottom: 0;
  padding-left: 20px;
  padding-bottom: 20px;
}
.module-title {
  background: inherit;
  color: #2a2a2a;
  line-height: 30px;
  font-weight: 700;
  font-size: 14px;
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  text-transform: uppercase;
  border-bottom: 2px solid #2a2a2a;
}
.module-ct {
  background: inherit;
  color: inherit;
  padding: 0;
  *zoom: 1;
}
.module-ct:before,
.module-ct:after {
  display: table;
  content: "";
  line-height: 0;
}
.module-ct:after {
  clear: both;
}
.t3-module ul,
.t3-module ol {
  margin-left: 20px;
}
.t3-module ul.unstyled,
.t3-module ol.unstyled,
.t3-module ul.nav,
.t3-module ol.nav {
  margin-left: 0;
}
.module_menu .nav {
  margin-bottom: 20px;
}
.module_menu .nav > li {
  border-top: 1px solid #eee;
}
.module_menu .nav > li > a,
.module_menu .nav > li > .separator {
  padding: 5px 0;
  color: #2a2a2a;
  display: block;
}
.module_menu .nav > li:first-child {
  border-top: 0;
}
.module_menu .nav > li:first-child > a {
  padding-top: 0;
  border-top: 0;
}
.module_menu .nav > li > a:hover {
  background: none;
  color: #1ea1fc;
}
.module_menu .nav > li.active > a {
  color: #1ea1fc;
}
.module_menu .dropdown-menu .active > a {
  color: #1ea1fc;
}
#login-form input[type="text"],
#login-form input[type="password"] {
  width: 90%;
}
.banneritem a {
  font-weight: bold;
}
.bannerfooter {
  border-top: 1px solid #eaeaea;
  font-size: 11px;
  padding-top: 10px;
  text-align: right;
}
.categories-module,
ul.categories-module,
.category-module,
ul.category-module {
  margin: 0;
}
.categories-module li,
ul.categories-module li,
.category-module li,
ul.category-module li {
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid #eaeaea;
}
.categories-module li:first-child,
ul.categories-module li:first-child,
.category-module li:first-child,
ul.category-module li:first-child {
  border-top: 0;
  padding-top: 0;
}
.categories-module h4,
ul.categories-module h4,
.category-module h4,
ul.category-module h4 {
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
.feed h4 {
  font-weight: bold;
}
.feed .newsfeed,
.feed ul.newsfeed {
  border-top: 1px solid #eee;
}
.feed .newsfeed .feed-link,
.feed .newsfeed h5.feed-link,
.feed ul.newsfeed .feed-link,
.feed ul.newsfeed h5.feed-link {
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
.latestusers,
ul.latestusers {
  margin-left: 0;
}
.latestusers li,
ul.latestusers li {
  background: none;
  border-bottom: solid 1px #eaeaea;
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 20px;
  padding: 0 0 10px 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.latestusers li .avatar,
ul.latestusers li .avatar {
  margin-bottom: 10px;
}
.latestusers li .avatar .no-avatar,
ul.latestusers li .avatar .no-avatar {
  width: 130px;
  height: 130px;
  font-size: 140px;
  display: inline-block;
  text-align: center;
  color: #2a2a2a;
}
.latestusers li > span,
ul.latestusers li > span {
  color: #2a2a2a;
  display: block;
  font-weight: 700;
  text-align: center;
}
.latestusers li .contact-desc,
ul.latestusers li .contact-desc {
  text-align: center;
  font-size: 11px;
  line-height: 18px;
}
.latestusers li .contact-desc .social-link,
ul.latestusers li .contact-desc .social-link {
  display: none;
}
.latestusers li .contact-desc > p,
ul.latestusers li .contact-desc > p {
  max-height: 55px;
  overflow: hidden;
}
.latestusers li .name a,
ul.latestusers li .name a {
  color: #2a2a2a;
  font-size: 11px;
}
.latestusers li .name a:hover,
ul.latestusers li .name a:hover {
  color: #1ea1fc;
}
.latestusers li:last-child,
ul.latestusers li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.stats-module dt,
.stats-module dd {
  display: inline-block;
  margin: 0;
}
.stats-module dt {
  font-weight: bold;
  width: 35%;
}
.stats-module dd {
  width: 60%;
}
div.tagspopular ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
div.tagspopular ul li {
  color: #666;
  display: inline-block;
  margin: 0 5px 5px 0;
}
div.tagspopular ul li a {
  background: #eaeaea;
  color: #666;
  display: block;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 5px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
div.tagspopular ul li a:hover,
div.tagspopular ul li a:focus,
div.tagspopular ul li a:active {
  background: #1ea1fc;
  color: #fff;
  text-decoration: none;
}
div.tagssimilar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
div.tagssimilar ul li {
  border-bottom: 1px solid #eee;
  padding: 8px 0;
}
div.tagssimilar ul li a {
  color: #666;
}
div.tagssimilar ul li a:hover,
div.tagssimilar ul li a:focus,
div.tagssimilar ul li a:active {
  color: #0379cb;
}
.popular .module-ct {
  overflow: hidden;
}
.view-image {
  position: relative;
  min-height: 20px;
  margin-bottom: 10px;
}
.feature-page.t3-module .module-ct {
  overflow: hidden;
}
.featured.categories-module,
ul.categories-module.featured,
.featured.category-module,
ul.category-module.featured {
  margin: -20px -20px 0;
}
.featured.categories-module li,
ul.categories-module.featured li,
.featured.category-module li,
ul.category-module.featured li {
  background: url("../../templates/ja_magz/images/line.gif") repeat-y left top;
  border-top: solid 1px #eaeaea;
  border-bottom: none;
  float: left;
  list-style: none;
  min-height: 350px;
  padding: 0;
  position: relative;
  width: 33.3%;
}
.featured.categories-module li:first-child,
ul.categories-module.featured li:first-child,
.featured.category-module li:first-child,
ul.category-module.featured li:first-child {
  border-top: 0;
  padding-top: 0;
}
.featured.categories-module li.eq-first,
ul.categories-module.featured li.eq-first,
.featured.category-module li.eq-first,
ul.category-module.featured li.eq-first {
  background: none;
}
.featured.categories-module .comment-count,
ul.categories-module.featured .comment-count,
.featured.category-module .comment-count,
ul.category-module.featured .comment-count {
  bottom: 10px;
  left: 20px;
  position: absolute;
}
.featured.categories-module h5,
ul.categories-module.featured h5,
.featured.category-module h5,
ul.category-module.featured h5 {
  font-size: 17px;
  font-weight: 700;
}
.featured.categories-module h5 a,
ul.categories-module.featured h5 a,
.featured.category-module h5 a,
ul.category-module.featured h5 a {
  color: #2a2a2a;
}
.featured.categories-module h5 a:hover,
.featured.categories-module h5 a:focus,
.featured.categories-module h5 a:active,
ul.categories-module.featured h5 a:hover,
ul.categories-module.featured h5 a:focus,
ul.categories-module.featured h5 a:active,
.featured.category-module h5 a:hover,
.featured.category-module h5 a:focus,
.featured.category-module h5 a:active,
ul.category-module.featured h5 a:hover,
ul.category-module.featured h5 a:focus,
ul.category-module.featured h5 a:active {
  color: #1ea1fc;
}
.featured.categories-module .showcategory,
ul.categories-module.featured .showcategory,
.featured.category-module .showcategory,
ul.category-module.featured .showcategory {
  padding: 20px;
}
.featured.categories-module .showcategory .jacontent,
ul.categories-module.featured .showcategory .jacontent,
.featured.category-module .showcategory .jacontent,
ul.category-module.featured .showcategory .jacontent {
  margin-bottom: 30px;
}
.featured.categories-module .showcategory h3,
ul.categories-module.featured .showcategory h3,
.featured.category-module .showcategory h3,
ul.category-module.featured .showcategory h3 {
  line-height: 1.3;
  font-size: 16px;
}
.featured.categories-module .article-content,
ul.categories-module.featured .article-content,
.featured.category-module .article-content,
ul.category-module.featured .article-content {
  margin-bottom: 50px;
}
.featured.categories-module .mod-articles-category-writtenby,
ul.categories-module.featured .mod-articles-category-writtenby,
.featured.category-module .mod-articles-category-writtenby,
ul.category-module.featured .mod-articles-category-writtenby {
  border-right: solid 1px #eaeaea;
  color: #2a2a2a;
  font-weight: 700;
  margin-right: 5px;
  padding-right: 5px;
}
.featured.categories-module .category-title,
.featured.categories-module .mod-articles-category-writtenby a,
ul.categories-module.featured .category-title,
ul.categories-module.featured .mod-articles-category-writtenby a,
.featured.category-module .category-title,
.featured.category-module .mod-articles-category-writtenby a,
ul.category-module.featured .category-title,
ul.category-module.featured .mod-articles-category-writtenby a {
  color: #2a2a2a;
}
.featured.categories-module .category-title:hover,
.featured.categories-module .category-title:focus,
.featured.categories-module .category-title:active,
.featured.categories-module .mod-articles-category-writtenby a:hover,
.featured.categories-module .mod-articles-category-writtenby a:focus,
.featured.categories-module .mod-articles-category-writtenby a:active,
ul.categories-module.featured .category-title:hover,
ul.categories-module.featured .category-title:focus,
ul.categories-module.featured .category-title:active,
ul.categories-module.featured .mod-articles-category-writtenby a:hover,
ul.categories-module.featured .mod-articles-category-writtenby a:focus,
ul.categories-module.featured .mod-articles-category-writtenby a:active,
.featured.category-module .category-title:hover,
.featured.category-module .category-title:focus,
.featured.category-module .category-title:active,
.featured.category-module .mod-articles-category-writtenby a:hover,
.featured.category-module .mod-articles-category-writtenby a:focus,
.featured.category-module .mod-articles-category-writtenby a:active,
ul.category-module.featured .category-title:hover,
ul.category-module.featured .category-title:focus,
ul.category-module.featured .category-title:active,
ul.category-module.featured .mod-articles-category-writtenby a:hover,
ul.category-module.featured .mod-articles-category-writtenby a:focus,
ul.category-module.featured .mod-articles-category-writtenby a:active {
  color: #1ea1fc;
}
.featured.categories-module .footer-feature,
ul.categories-module.featured .footer-feature,
.featured.category-module .footer-feature,
ul.category-module.featured .footer-feature {
  color: #aaa;
  font-size: 11px;
  display: block;
  margin-bottom: 0;
}
.featured.categories-module .mod-articles-category-title,
ul.categories-module.featured .mod-articles-category-title,
.featured.category-module .mod-articles-category-title,
ul.category-module.featured .mod-articles-category-title {
  color: #2a2a2a;
}
.featured.categories-module .mod-articles-category-title:hover,
.featured.categories-module .mod-articles-category-title:focus,
.featured.categories-module .mod-articles-category-title:active,
ul.categories-module.featured .mod-articles-category-title:hover,
ul.categories-module.featured .mod-articles-category-title:focus,
ul.categories-module.featured .mod-articles-category-title:active,
.featured.category-module .mod-articles-category-title:hover,
.featured.category-module .mod-articles-category-title:focus,
.featured.category-module .mod-articles-category-title:active,
ul.category-module.featured .mod-articles-category-title:hover,
ul.category-module.featured .mod-articles-category-title:focus,
ul.category-module.featured .mod-articles-category-title:active {
  color: #1ea1fc;
}
.featured.categories-module .mod-articles-category-introtext p,
ul.categories-module.featured .mod-articles-category-introtext p,
.featured.category-module .mod-articles-category-introtext p,
ul.category-module.featured .mod-articles-category-introtext p {
  display: inline;
}
.featured.categories-module .mod-articles-category-readmore,
ul.categories-module.featured .mod-articles-category-readmore,
.featured.category-module .mod-articles-category-readmore,
ul.category-module.featured .mod-articles-category-readmore {
  border-right: solid 1px #eaeaea;
  display: inline-block;
  margin-bottom: 0;
  margin-right: 5px;
  padding-right: 5px;
}
.featured.categories-module .mod-articles-category-readmore a,
ul.categories-module.featured .mod-articles-category-readmore a,
.featured.category-module .mod-articles-category-readmore a,
ul.category-module.featured .mod-articles-category-readmore a {
  color: #aaa;
}
.featured.categories-module .mod-articles-category-readmore a:hover,
.featured.categories-module .mod-articles-category-readmore a:focus,
.featured.categories-module .mod-articles-category-readmore a:active,
ul.categories-module.featured .mod-articles-category-readmore a:hover,
ul.categories-module.featured .mod-articles-category-readmore a:focus,
ul.categories-module.featured .mod-articles-category-readmore a:active,
.featured.category-module .mod-articles-category-readmore a:hover,
.featured.category-module .mod-articles-category-readmore a:focus,
.featured.category-module .mod-articles-category-readmore a:active,
ul.category-module.featured .mod-articles-category-readmore a:hover,
ul.category-module.featured .mod-articles-category-readmore a:focus,
ul.category-module.featured .mod-articles-category-readmore a:active {
  color: #1ea1fc;
}
.featured.categories-module .article-aside,
ul.categories-module.featured .article-aside,
.featured.category-module .article-aside,
ul.category-module.featured .article-aside {
  font-size: 11px;
}
.list-page.category-module li {
  margin-bottom: 0;
  min-height: 0 !important;
  padding: 20px 0;
}
.list-page.category-module .showcategory {
  position: relative;
}
.list-page.category-module .showcategory .pull-left {
  width: 130px;
}
.list-page.category-module .showcategory .pull-right {
  width: 49%;
}
.list-page.category-module .showcategory .tabs-category h5,
.list-page.category-module .showcategory .tabs-category h3 {
  font-size: 14px;
  color: #2a2a2a;
  font-weight: 700;
  line-height: 20px;
  margin: 0 0 10px;
  padding: 0;
}
.list-page.category-module .showcategory a.mod-articles-category-title {
  color: #2a2a2a;
}
.list-page.category-module .showcategory a.mod-articles-category-title:hover,
.list-page.category-module .showcategory a.mod-articles-category-title:focus,
.list-page.category-module .showcategory a.mod-articles-category-title:active {
  color: #1ea1fc;
}
.list-page.category-module .showcategory .article-aside {
  margin-top: 5px;
  margin-bottom: 0;
  color: #aaa;
  font-size: 11px;
}
.list-page.category-module .showcategory .mod-articles-category-writtenby {
  font-weight: normal;
  color: #aaa;
  margin-right: 10px;
  padding-right: 5px;
}
.list-page.category-module .showcategory a {
  font-weight: bold;
  color: #2a2a2a;
}
.list-page.category-module .showcategory .view-image {
  margin-bottom: 0;
}
.list-page.category-module .showcategory .readmore a {
  background: #1ea1fc;
  color: #fff;
}
.list-page.category-module .showcategory .readmore a:hover,
.list-page.category-module .showcategory .readmore a:focus,
.list-page.category-module .showcategory .readmore a:active {
  background: #ccc;
  color: #fff;
}
.ja-tab-subcontent ul.category-module li {
  border-top: 0;
  border-bottom: 1px solid #eaeaea;
  position: relative;
  padding: 15px 0px;
}
.ja-tab-subcontent ul.category-module li .focus-image {
  float: left;
  margin: 0 20px 5px 0;
  overflow: hidden;
  width: 130px;
  min-height: 70px;
}
.ja-tab-subcontent ul.category-module li .focus-image .img-intro {
  margin-bottom: 5px;
}
.ja-tab-subcontent ul.category-module li .focus-image .mod-articles-category-date {
  color: #aaa;
  font-size: 11px;
}
.ja-tab-subcontent ul.category-module li.no-images .category-name {
  position: relative;
  top: 0;
}
.ja-tab-subcontent ul.category-module li.no-images .mod-articles-category-date {
  display: inline-block;
  margin: 5px 0 0 0;
}
.ja-tab-subcontent ul.category-module li .category-name {
  top: 15px;
}
.ja-tab-subcontent ul.category-module li .tabs-category .mod-articles-category-date,
.ja-tab-subcontent ul.category-module li .tabs-category .mod-articles-category-writtenby,
.ja-tab-subcontent ul.category-module li .tabs-category .mod-articles-category-hits {
  color: #aaa;
  font-size: 11px;
}
.ja-tab-subcontent ul.category-module li .tabs-category h5 {
  margin: 0;
  font-size: 13px;
}
.ja-tab-subcontent ul.category-module li .tabs-category h5 a {
  color: #2a2a2a;
}
.ja-tab-subcontent ul.category-module li .tabs-category h5 a:hover,
.ja-tab-subcontent ul.category-module li .tabs-category h5 a:active,
.ja-tab-subcontent ul.category-module li .tabs-category h5 a:focus {
  color: #1ea1fc;
}
.focus-articles {
  overflow: hidden;
}
.focus-articles .focus-image {
  margin-bottom: 10px;
  min-height: 20px;
  position: relative;
}
.focus-articles .focus-image img {
  width: 100% !important;
}
.focus-articles .article-intro p {
  display: inline;
}
.focus-articles .related-links {
  list-style: none;
  margin-left: 0;
  margin-top: 20px;
}
.focus-articles .related-links li {
  padding: 10px 0;
  border-bottom: solid 1px #eaeaea;
}
.focus-articles .related-links li a {
  color: #2a2a2a;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
  float: left;
}
.focus-articles .related-links li a:hover,
.focus-articles .related-links li a:focus,
.focus-articles .related-links li a:active {
  color: #1ea1fc;
}
.focus-articles .related-links li .marker {
  background: #ff0f3c;
  float: left;
  margin-right: 10px;
  padding: 0px 4px 2px 4px;
  line-height: normal;
  vertical-align: middle;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.focus-articles .related-links li .marker i {
  color: #fff;
  font-size: 10px;
  text-align: center;
}
.focus-articles .related-links li:last-child {
  border: none;
}
.focus-articles .latest-items {
  border-top: solid 5px #eaeaea;
  margin: 15px -20px 0;
  padding-top: 15px;
}
.focus-articles .latest-items li {
  background: url("../../templates/ja_magz/images/line.gif") repeat-y left top;
  list-style: none;
  float: left;
  width: 33.3%;
  min-height: 190px;
}
.focus-articles .latest-items li article {
  padding-left: 20px;
  padding-right: 20px;
}
.focus-articles .latest-items li .article-title {
  font-size: 14px;
  line-height: 1.2;
}
.focus-articles .latest-items li .createdby {
  display: none;
}
.focus-articles .latest-items .menu-edit ul {
  margin-left: 4px;
  margin-top: 3px;
}
.focus-articles .latest-items .menu-edit li {
  border: none;
  background: none;
  min-height: 0;
  width: auto !important;
}
div.ja-tabswrap .ja-tabs-title-top {
  border-bottom: 3px solid #2a2a2a;
  border-top: 1px solid #eaeaea;
}
div.ja-tabswrap .ja-tabs-title-top ul.ja-tabs-title {
  display: inline-block;
  position: relative;
  width: 100%;
}
div.ja-tabswrap .ja-tabs-title-top ul.ja-tabs-title li {
  background: none;
  border: 0;
  margin: 0;
}
div.ja-tabswrap .ja-tabs-title-top ul.ja-tabs-title li h3 {
  border: 0;
  border-right: 1px solid #eaeaea;
  color: #999;
  font-weight: 700 !important;
  font-size: 14px;
  line-height: normal;
  margin: 10px 20px 10px 0 !important;
  padding: 2px 20px 2px 0;
  text-transform: uppercase;
}
div.ja-tabswrap .ja-tabs-title-top ul.ja-tabs-title li.last {
  margin: 0;
  padding: 0;
}
div.ja-tabswrap .ja-tabs-title-top ul.ja-tabs-title li.last h3 {
  border: 0;
}
div.ja-tabswrap .ja-tabs-title-top ul.ja-tabs-title li.active,
div.ja-tabswrap .ja-tabs-title-top ul.ja-tabs-title li.firstactive,
div.ja-tabswrap .ja-tabs-title-top ul.ja-tabs-title li.lastactive {
  border: 0;
  background: none;
}
div.ja-tabswrap .ja-tabs-title-top ul.ja-tabs-title li.active h3,
div.ja-tabswrap .ja-tabs-title-top ul.ja-tabs-title li.firstactive h3,
div.ja-tabswrap .ja-tabs-title-top ul.ja-tabs-title li.lastactive h3 {
  color: #2a2a2a;
}
.mod-languages ul {
  padding: 10px !important;
}
.mod-languages ul li {
  display: inline-block;
  border: none;
  float: left;
}
.mod-languages ul li a {
  font-size: 0;
  text-indent: -999em;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
}
.mod_easyblogarchive .active-year .mod-months .mod-month {
  background: url("../../templates/ja_magz/images/calendar.png") no-repeat left center;
  border-bottom: 1px solid #eaeaea;
  padding: 10px 0 10px 24px;
}
.mod_easyblogarchive .active-year .mod-months .mod-month:last-child {
  border-bottom: 0;
}
div.mod_easyblogmostpopularpost a,
div.latest-comments a {
  color: #2a2a2a;
}
div.mod_easyblogmostpopularpost a:hover,
div.mod_easyblogmostpopularpost a:active,
div.mod_easyblogmostpopularpost a:focus,
div.latest-comments a:hover,
div.latest-comments a:active,
div.latest-comments a:focus {
  color: #1ea1fc;
}
div.mod_easyblogmostpopularpost .category-name,
div.mod_easyblogmostpopularpost .category-name a,
div.latest-comments .category-name,
div.latest-comments .category-name a {
  background: #1ea1fc;
}
div.mod_easyblogmostpopularpost .category-name:hover,
div.mod_easyblogmostpopularpost .category-name:focus,
div.mod_easyblogmostpopularpost .category-name:active,
div.mod_easyblogmostpopularpost .category-name a:hover,
div.mod_easyblogmostpopularpost .category-name a:focus,
div.mod_easyblogmostpopularpost .category-name a:active,
div.latest-comments .category-name:hover,
div.latest-comments .category-name:focus,
div.latest-comments .category-name:active,
div.latest-comments .category-name a:hover,
div.latest-comments .category-name a:focus,
div.latest-comments .category-name a:active {
  background-color: #0379cb;
}
div.mod_easyblogmostpopularpost .mod-item,
div.latest-comments .mod-item {
  padding: 20px 0 !important;
}
div.mod_easyblogmostpopularpost .mod-item + .mod-item,
div.latest-comments .mod-item + .mod-item {
  border-top: 1px solid #eaeaea;
  margin: 0 !important;
}
div.mod_easyblogmostpopularpost .mod-item .mod-post-author,
div.mod_easyblogmostpopularpost .mod-item .mod-comment-head,
div.latest-comments .mod-item .mod-post-author,
div.latest-comments .mod-item .mod-comment-head {
  line-height: normal;
  position: relative;
}
div.mod_easyblogmostpopularpost .mod-item .mod-post-author .mod-avatar,
div.mod_easyblogmostpopularpost .mod-item .mod-comment-head .mod-avatar,
div.latest-comments .mod-item .mod-post-author .mod-avatar,
div.latest-comments .mod-item .mod-comment-head .mod-avatar {
  margin: 0 20px 0 0;
  width: 60px;
}
div.mod_easyblogmostpopularpost .mod-item .mod-post-author .post-author,
div.mod_easyblogmostpopularpost .mod-item .mod-comment-head .post-author,
div.latest-comments .mod-item .mod-post-author .post-author,
div.latest-comments .mod-item .mod-comment-head .post-author {
  font-size: 11px;
  margin-bottom: 5px;
}
div.mod_easyblogmostpopularpost .mod-item .mod-post-author .post-author .post-author-name,
div.mod_easyblogmostpopularpost .mod-item .mod-comment-head .post-author .post-author-name,
div.latest-comments .mod-item .mod-post-author .post-author .post-author-name,
div.latest-comments .mod-item .mod-comment-head .post-author .post-author-name {
  font-weight: 700;
}
div.mod_easyblogmostpopularpost .mod-item .mod-post-author .post-author .post-date,
div.mod_easyblogmostpopularpost .mod-item .mod-comment-head .post-author .post-date,
div.latest-comments .mod-item .mod-post-author .post-author .post-date,
div.latest-comments .mod-item .mod-comment-head .post-author .post-date {
  border-left: 1px solid #eaeaea;
  color: #aaa;
  margin: 0 0 0 5px;
  padding: 0 0 0 5px;
}
div.mod_easyblogmostpopularpost .mod-item .mod-post-author .mod-post-title,
div.mod_easyblogmostpopularpost .mod-item .mod-comment-head .mod-post-title,
div.latest-comments .mod-item .mod-post-author .mod-post-title,
div.latest-comments .mod-item .mod-comment-head .mod-post-title {
  margin-bottom: 4px;
}
div.mod_easyblogmostpopularpost .mod-item .mod-post-author .mod-post-title a,
div.mod_easyblogmostpopularpost .mod-item .mod-comment-head .mod-post-title a,
div.latest-comments .mod-item .mod-post-author .mod-post-title a,
div.latest-comments .mod-item .mod-comment-head .mod-post-title a {
  font-size: 13px;
  line-height: normal;
  margin-bottom: 10px;
}
div.mod_easyblogmostpopularpost .mod-item .mod-post-author.has-avatar .category-name,
div.mod_easyblogmostpopularpost .mod-item .mod-comment-head.has-avatar .category-name,
div.latest-comments .mod-item .mod-post-author.has-avatar .category-name,
div.latest-comments .mod-item .mod-comment-head.has-avatar .category-name {
  position: absolute;
  margin-bottom: 0;
  max-width: 54px;
  word-break: break-all;
  -ms-word-break: break-all;
}
div.mod_easyblogmostpopularpost .mod-item .mod-post-author .category-name,
div.mod_easyblogmostpopularpost .mod-item .mod-comment-head .category-name,
div.latest-comments .mod-item .mod-post-author .category-name,
div.latest-comments .mod-item .mod-comment-head .category-name {
  line-height: 20px;
  margin-bottom: 5px;
  position: relative;
}
div.mod_easyblogmostpopularpost .mod-item .mod-post-author .category-name a,
div.mod_easyblogmostpopularpost .mod-item .mod-comment-head .category-name a,
div.latest-comments .mod-item .mod-post-author .category-name a,
div.latest-comments .mod-item .mod-comment-head .category-name a {
  color: #fff;
  padding: 0px 3px;
}
div.mod_easyblogmostpopularpost .mod-item .mod-post-author .category-name a:hover,
div.mod_easyblogmostpopularpost .mod-item .mod-post-author .category-name a:active,
div.mod_easyblogmostpopularpost .mod-item .mod-post-author .category-name a:focus,
div.mod_easyblogmostpopularpost .mod-item .mod-comment-head .category-name a:hover,
div.mod_easyblogmostpopularpost .mod-item .mod-comment-head .category-name a:active,
div.mod_easyblogmostpopularpost .mod-item .mod-comment-head .category-name a:focus,
div.latest-comments .mod-item .mod-post-author .category-name a:hover,
div.latest-comments .mod-item .mod-post-author .category-name a:active,
div.latest-comments .mod-item .mod-post-author .category-name a:focus,
div.latest-comments .mod-item .mod-comment-head .category-name a:hover,
div.latest-comments .mod-item .mod-comment-head .category-name a:active,
div.latest-comments .mod-item .mod-comment-head .category-name a:focus {
  color: #fff;
  text-decoration: none;
}
div.mod_easyblogmostpopularpost .mod-item .mod-post-rating,
div.latest-comments .mod-item .mod-post-rating {
  margin: 15px 0 0 0;
}
div.mod_easyblogmostpopularpost .mod-item .mod-post-rating form,
div.latest-comments .mod-item .mod-post-rating form {
  margin: 0;
}
div.mod_easyblogmostpopularpost .mod-item .mod-post-meta,
div.latest-comments .mod-item .mod-post-meta {
  font-size: 11px;
  float: left;
}
div.mod_easyblogmostpopularpost .mod-item .mod-post-meta span,
div.latest-comments .mod-item .mod-post-meta span {
  float: left;
  line-height: 13px;
}
div.mod_easyblogmostpopularpost .mod-item .mod-post-meta span a,
div.latest-comments .mod-item .mod-post-meta span a {
  color: #aaa;
  font-size: 11px;
}
div.mod_easyblogmostpopularpost .mod-item .mod-post-meta span a:hover,
div.mod_easyblogmostpopularpost .mod-item .mod-post-meta span a:active,
div.mod_easyblogmostpopularpost .mod-item .mod-post-meta span a:focus,
div.latest-comments .mod-item .mod-post-meta span a:hover,
div.latest-comments .mod-item .mod-post-meta span a:active,
div.latest-comments .mod-item .mod-post-meta span a:focus {
  color: #1ea1fc;
}
div.mod_easyblogmostpopularpost .mod-item .mod-post-meta > span + span,
div.latest-comments .mod-item .mod-post-meta > span + span {
  background: none;
  border-left: 1px solid #eaeaea;
  margin: 0 0 0 7px;
}
div.mod_easyblogmostpopularpost .mod-item .mod-comment-head,
div.latest-comments .mod-item .mod-comment-head {
  border-top: 0;
  margin: 0 0 10px 0;
  padding-top: 0;
}
div.mod_easyblogmostpopularpost .mod-item .avatar,
div.latest-comments .mod-item .avatar {
  border: solid 1px #eaeaea;
}
.latest-comments .top-comment .post-author {
  display: inline-block;
}
.latest-comments .top-comment .post-date {
  border-left: 1px solid #eaeaea;
  color: #AAAAAA;
  display: inline-block;
  font-size: 11px;
  margin: 0 0 0 5px;
  padding: 0 0 0 5px;
}

