

.t3-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header-menu {
  margin-left: 0 !important;
}
.logo {
  float: left;
}
.logo .brand {
  padding: 0;
  margin: 10px 0 0;
  text-shadow: none;
}
.logo a {
  display: inline-block;
  line-height: 1;
  margin: 0;
}
.logo-image {
  overflow: hidden;
}
.logo-image a {
  width: 79px;
  height: 30px;
}
.logo-image a.bg-image {
  background-image: url("../../templates/ja_magz/images/logo.png");
  background-repeat: no-repeat;
}
.logo-image span,
.logo-image small {
  display: none;
}
.logo-text a {
  color: #444;
  text-decoration: none;
  font-size: 16.25px;
}
.logo-text:hover a,
.logo-text a:hover,
.logo-text a:active,
.logo-text a:focus {
  text-decoration: none;
}
.logo-text .site-slogan {
  display: block;
  font-size: 13px;
  margin-top: 5px;
}
.head-social .nav {
  float: right;
  border-left: solid 1px #eaeaea;
  margin-top: 0 !important;
}
.head-social .nav > li {
  float: left !important;
}
.head-social .nav > li > a,
.head-social .nav > li > .mod-languages > a {
  border-left: none !important;
  border-right: solid 1px #eaeaea;
  color: #8A8A8A;
  display: block;
  padding: 15px 19px !important;
  position: relative;
}
.head-social .nav > li > a:after,
.head-social .nav > li > .mod-languages > a:after {
  position: absolute;
  width: 100%;
  height: 1px;
  content: "";
  background: #fff;
  display: none;
  bottom: -1px;
  right: 0;
}
.head-social .nav > li.open > a:after,
.head-social .nav > li.open > .mod-languages > a:after {
  display: block;
}
.head-social .nav > li.open > a:hover,
.head-social .nav > li.open > a:focus,
.head-social .nav > li.open > a:active,
.head-social .nav > li.open > .mod-languages > a:hover,
.head-social .nav > li.open > .mod-languages > a:focus,
.head-social .nav > li.open > .mod-languages > a:active {
  color: #1ea1fc;
}
.head-social .nav > li > ul.dropdown {
  display: none;
}
.head-social .nav > li.open > ul.dropdown {
  display: block;
}
.head-social .dropdown-menu {
  border-color: #eaeaea;
  border-top: none;
  left: auto;
  min-width: 250px !important;
  right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.head-social .nav-connect .dropdown-menu,
.head-social .nav-user .dropdown-menu,
.head-social .nav-search .dropdown-menu {
  margin-top: 1px;
  min-width: 240px !important;
  -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 5px 5px rgba(0,0,0,0.2);
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
  border: solid 1px #eaeaea;
  border-top: none;
}
.head-social .languageswitcher-block .dropdown-menu {
  margin-top: 1px;
  min-width: 400px !important;
  padding: 15px !important;
  line-height: 0;
  -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 5px 5px rgba(0,0,0,0.2);
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
  border: solid 1px #eaeaea;
  border-top: none;
}
.head-social .languageswitcher-block .lang-inline li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 33.3%;
}
.head-social .languageswitcher-block .lang-inline li.lang-active a {
  background: #eee;
  border-color: #eaeaea;
  color: #0379cb;
  font-weight: bold;
}
.head-social .languageswitcher-block .lang-inline li a {
  border: 1px solid #fff;
  display: block;
  font-size: 12px;
  line-height: 1;
  margin: 0;
  padding: 7px 10px;
  text-align: left;
  overflow: hidden;
}
.head-social .languageswitcher-block .lang-inline li a:hover,
.head-social .languageswitcher-block .lang-inline li a:focus,
.head-social .languageswitcher-block .lang-inline li a:active {
  background: #eee;
  border-color: #eaeaea;
}
.head-social .languageswitcher-block .lang-inline li a img {
  float: left;
  margin: 0 5px 0 0;
  padding: 0;
  vertical-align: middle;
}
.head-social .dropdown-menu-inner {
  padding: 20px;
}
.head-social .input-append .add-on,
.head-social .input-prepend .add-on {
  background: none;
  border-color: #eaeaea;
  border-right: none;
  color: #666;
  text-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.head-social input.btn {
  width: 98%;
  padding: 10px 0;
}
.head-social .addthis_toolbox {
  text-align: center;
}
.head-social .addthis_toolbox > a {
  width: 32px;
  height: 32px;
  line-height: 32px;
  display: inline-block;
  margin: 0 2px;
}
.head-social .addthis_toolbox > a i {
  color: #fff;
}
.head-social .addthis_toolbox > a.addthis_button_facebook {
  background: #3b5998;
}
.head-social .addthis_toolbox > a.addthis_button_google_plusone_share {
  background: #dd4b39;
}
.head-social .addthis_toolbox > a.addthis_button_twitter {
  background: #00aeef;
}
.head-social .addthis_toolbox > a.addthis_button_linkedin {
  background: #007bb6;
}
.head-social .t3-module {
  margin-bottom: 0;
}
.head-social #login-form {
  margin-bottom: 0;
  margin-top: 10px;
}
.head-social #login-form .checkbox input[type="checkbox"] {
  margin-top: 3px;
}
.head-social #login-form ul li a {
  background: url("../../templates/ja_magz/images/dot.png") no-repeat left center;
  border: none;
  color: #666;
  padding: 2px 0 2px 10px !important;
}
.head-social #login-form ul li a:hover,
.head-social #login-form ul li a:focus,
.head-social #login-form ul li a:active {
  background-image: url("../../templates/ja_magz/images/dot-hover.png");
  color: #1ea1fc;
}
.head-social .nav-search form {
  margin-bottom: 0;
}
.head-social .search label {
  display: none;
}
.t3-mainnav.min-mainnav {
  width: 100%;
  top: 0;
}
.affix {
  z-index: 1030;
}
.top-header {
  background: #f5f5f5;
  border-bottom: solid 1px #eaeaea;
  padding: 10px 0;
}
.top-header .t3-module {
  margin-bottom: 0;
}
.t3-mainnav.min-mainnav .wrap.top-header {
  display: none;
}
.spl-home-1 {
  padding-top: 40px;
}
.spl-home-2 .t3-module,
.spl-home-3 .t3-module {
  background: url("../../templates/ja_magz/images/head-line.gif") repeat-x left top;
  margin-bottom: 0;
  padding-top: 40px;
}
.spl-home-2 .t3-module .module-title,
.spl-home-3 .t3-module .module-title {
  color: #2a2a2a;
  border: none;
  font-family: 'novecento_wide_bookbold', sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 20px;
  padding: 0;
  text-transform: uppercase;
}
.spl-home-2 .t3-module .module-title span,
.spl-home-3 .t3-module .module-title span {
  position: relative;
  padding-right: 2px;
}
.spl-home-2 .t3-module .module-title span:before,
.spl-home-3 .t3-module .module-title span:before {
  bottom: 0;
  content: ".";
  position: absolute;
  right: -10px;
}
.newpost-page .spl-home-2 .t3-module {
  background: none;
}
.tpl-inf-wrapper {
  position: relative;
}
.tpl-inf-wrapper h1 {
  background: url("../../templates/ja_magz/images/head-line.gif") repeat-x left top;
  color: #2a2a2a;
  font-family: 'novecento_wide_bookbold', sans-serif;
  font-size: 50px;
  font-weight: 300;
  line-height: normal;
  margin: 0 0 40px;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-top: 40px;
}
.tpl-inf-wrapper h1 span {
  position: relative;
  padding-right: 2px;
}
.tpl-inf-wrapper h1 span:before {
  bottom: 0;
  content: ".";
  position: absolute;
  right: -10px;
}
.tpl-layout-switch {
  position: absolute;
  right: 0;
  top: 60px;
  z-index: 2;
}
.tpl-layout-switch li {
  border: solid 1px #eaeaea;
  float: left;
  list-style: none;
  height: 30px;
  text-align: center;
  width: 30px;
}
.tpl-layout-switch li i {
  color: #aaa;
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  margin: auto;
  font-size: 14px;
}
.tpl-layout-switch li.active {
  background: #1ea1fc;
  color: #fff;
  border-color: #0388e4;
}
.tpl-layout-switch li.active i {
  color: #fff;
}
.btn-sidenav {
  background: #fff;
  border: none;
  border-right: solid 1px #dadada;
  color: #aaa;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  width: 50px;
  padding: 0;
}
.btn-sidenav:hover,
.btn-sidenav:focus,
.btn-sidenav:active {
  color: #fff;
  background: #1ea1fc;
}
.t3-mainbody {
  padding-bottom: 40px;
  padding-top: 40px;
}
.tpl-inf-wrapper {
  position: relative;
  overflow: hidden;
}
.layout-blog #infinity-next {
  margin-top: -10px;
  padding-top: 0;
}
.infinity-cont.av-list .items {
  position: relative;
}
.infinity-cont.av-grid .items {
  float: left;
  position: relative;
}
.infinity-cont.av-grid.grid-cols-1 .items {
  width: 100%;
}
.infinity-cont.av-grid.grid-cols-2 .items {
  width: 50%;
}
.infinity-cont.av-grid.grid-cols-3 .items {
  width: 33.333333333333%;
}
.infinity-cont.av-grid.grid-cols-4 .items {
  width: 25%;
}
.infinity-cont.av-grid.grid-cols-5 .items {
  width: 20%;
}
.infinity-cont.av-grid.grid-cols-6 .items {
  width: 16.666666666667%;
}
.infinity-cont.av-grid.grid-cols-7 .items {
  width: 14.285714285714%;
}
.infinity-cont.av-grid.grid-cols-8 .items {
  width: 12.5%;
}
.infinity-cont.av-grid.grid-cols-9 .items {
  width: 11.111111111111%;
}
.infinity-cont.av-grid.grid-cols-10 .items {
  width: 10%;
}
.infinity-cont.av-grid.grid-cols-11 .items {
  width: 9.0909090909091%;
}
.infinity-cont.av-grid.grid-cols-12 .items {
  width: 8.3333333333333%;
}
.infinity-cont.will-anim {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}
.infinity-cont.will-anim .items {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.infinity-cont .items {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}
.infinity-cont .items.anim-hide-state {
  -webkit-transform: rotateX(-80deg);
  -moz-transform: rotateX(-80deg);
  transform: rotateX(-80deg);
  opacity: 0;
}
.infinity-cont .items.anim-show-state {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
}
.item-page .tpl-inf-wrapper {
  border-top: solid 5px #eaeaea;
}
.item-page .tpl-inf-wrapper .items {
  background: url("../../templates/ja_magz/images/line.gif") repeat-y left top;
  border-bottom: solid 1px #eaeaea;
}
.item-page .tpl-inf-wrapper .infinity-cont.related {
  margin-left: -20px;
  margin-right: -20px;
}
.item-page .tpl-inf-wrapper .infinity-cont.related .category-name {
  float: left;
  margin-right: 5px;
  position: inherit;
}
.item-page .tpl-inf-wrapper article {
  padding: 20px;
  text-align: left;
}
.item-page .tpl-inf-wrapper article .article-title {
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 0;
}
.item-page .tpl-inf-wrapper article .article-info dd.published {
  margin-right: 0;
}
.photo-page .tpl-inf-wrapper {
  padding-bottom: 60px;
}
.photo-page .tpl-inf-wrapper .images-content:before {
  background: url("../../templates/ja_magz/images/bg-gallery.gif") repeat-x 5px bottom;
  background-color: none !important;
  display: block;
  height: 5px;
  bottom: -5px;
  right: -5px;
  width: 100%;
  z-index: -10;
  content: "";
  position: absolute;
}
.photo-page .tpl-inf-wrapper .images-content:after {
  background: url("../../templates/ja_magz/images/bg-gallery-right-ltr.gif") repeat-y right 0;
  background-color: none !important;
  display: block;
  height: 100%;
  bottom: -5px;
  right: -5px;
  width: 5px;
  z-index: -10;
  content: "";
  position: absolute;
}
.photo-page .tpl-inf-wrapper .infinity-cont.related {
  margin-right: -15px !important;
}
.video-page .tpl-inf-wrapper {
  padding-bottom: 60px;
}
#page-nav,
#infscr-loading {
  width: 66px;
  height: 66px;
  margin: 60px auto;
  font-size: 0;
  text-indent: -999em;
  display: none;
  text-align: center;
  display: none !important;
}
#infinity-next {
  text-align: center;
  padding-top: 20px;
}
#infinity-next .inf-button {
  display: inline-block;
  position: relative;
  background-color: #aaa;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  padding: 10px 20px;
  text-align: center;
  width: 200px;
}
#infinity-next .inf-button:hover,
#infinity-next .inf-button:focus,
#infinity-next .inf-button:active,
#infinity-next .inf-button.finished {
  background-color: #1ea1fc;
}
#infinity-next .inf-button:hover:before,
#infinity-next .inf-button:focus:before,
#infinity-next .inf-button:active:before,
#infinity-next .inf-button.finished:before {
  border-bottom-color: #1ea1fc;
}
#infinity-next .inf-button:before {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #aaa;
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -5px;
}
#infinity-next.finished .inf-button {
  cursor: auto;
  background-color: #1ea1fc;
}
#infinity-next.finished .inf-button:before {
  border-bottom-color: #1ea1fc;
}
#infinity-next .inf-loader {
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.4s ease-out;
  -moz-transition: 0.4s ease-out;
  -o-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}
#infinity-next.active .inf-loader {
  height: 66px;
  margin-bottom: 20px;
}
.t3-footer {
  background: #f5f5f5;
  border-top: solid 1px #cacaca;
  color: #666;
  *zoom: 1;
}
.t3-footer:before,
.t3-footer:after {
  display: table;
  content: "";
  line-height: 0;
}
.t3-footer:after {
  clear: both;
}
.t3-footer small {
  display: block;
  font-size: 100%;
}
.t3-footer a {
  color: #7a7a7a;
}
.t3-footer a:hover,
.t3-footer a:active,
.t3-footer a:focus {
  color: #1ea1fc;
}
.footer-logo a {
  background: url("../../templates/ja_magz/images/logo-big.png") no-repeat left top;
  display: block;
  width: 218px;
  height: 80px;
  font-size: 0;
  text-indent: -999em;
}
.t3-footnav {
  padding: 60px 0 0;
  *zoom: 1;
}
.t3-footnav:before,
.t3-footnav:after {
  display: table;
  content: "";
  line-height: 0;
}
.t3-footnav:after {
  clear: both;
}
.t3-footnav .t3-module {
  background: none;
  border-left: solid 1px #e2e2e2;
  margin-bottom: 0;
  min-height: 200px;
  padding-left: 20px;
  padding-top: 0;
}
.t3-footnav .t3-module .module-title {
  border: none;
  color: #aaa;
  font-family: 'novecento_wide_bookbold', sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: normal;
  margin-bottom: 10px;
  padding-bottom: 0;
  text-transform: uppercase;
}
.t3-footnav ul {
  list-style: none;
  margin-left: 0;
}
.t3-footnav li {
  line-height: 24px;
  font-size: 12px;
}
.t3-footnav li a {
  background: none;
  color: #7a7a7a;
}
.t3-footnav li a:hover,
.t3-footnav li a:focus,
.t3-footnav li a:active {
  background: none;
  color: #1ea1fc;
}
.t3-footnav .item-first .t3-module,
.t3-footnav .spanfirst .t3-module {
  border-left: none;
}
.footer-social {
  margin-bottom: 15px;
}
.footer-social a > span,
.footer-social .addthis_32x32_style .at15nc.at300bs,
.footer-social .addthis_32x32_style .at15nc.at15t,
.footer-social .addthis_32x32_style .at15nc.at15t_twitter,
.footer-social .addthis_32x32_style .at15nc.at300bs,
.footer-social .addthis_32x32_style .at15nc.at15t {
  background-image: url("../../templates/ja_magz/images/ico-social.png") !important;
  bakcground-repeat: no-repeat;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.footer-social .addthis_32x32_style .at15nc.at15t_facebook {
  background-position: 0 0 !important;
  background-color: #3b5998 !important;
}
.footer-social .addthis_32x32_style .at15nc.at15t_twitter {
  background-position: 0 -32px !important;
  background-color: #00aced !important;
}
.footer-social .addthis_32x32_style .at15nc.at15t_rss {
  background-position: 0 -64px !important;
  background-color: #f47259 !important;
}
.footer-social .at_a11y {
  display: none;
}
.t3-copyright {
  font-size: 11px;
  *zoom: 1;
}
.t3-copyright:before,
.t3-copyright:after {
  display: table;
  content: "";
  line-height: 0;
}
.t3-copyright:after {
  clear: both;
}
.t3-copyright .container {
  border-top: solid 1px #e2e2e2;
  padding: 40px 0 80px;
}
.copyright {
  float: none;
  text-align: right;
  margin-bottom: 10px;
}
.poweredby {
  float: right;
  text-align: right;
}
.poweredby .t3-logo,
.poweredby .t3-logo-small {
  float: right;
  opacity: .5;
}
.footer-social .custom {
  float: right;
}
.login-wrap {
  background: #f5f5f5;
  border: 1px solid #e6e6e6;
  margin: 20px auto;
  width: 500px;
}
.login-wrap.secretkey {
  width: 730px;
}
.login-wrap.secretkey .well .control-group {
  width: 33%;
}
.login-wrap .login {
  padding: 20px 20px 0;
}
.login-wrap .login form {
  margin-bottom: 0;
}
.login-wrap .well {
  background: transparent;
  border: 0;
  box-shadow: none;
  margin-bottom: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.login-wrap .well .control-group {
  float: left;
  width: 50%;
}
.login-wrap .well .control-group .control-label {
  display: block;
  float: none;
  text-align: left;
  width: auto;
  margin-bottom: 10px;
}
.login-wrap .well .control-group .controls {
  margin-left: 0;
  float: none;
}
.login-wrap .well .control-group .controls input {
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 25px !important;
  width: 200px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.login-wrap .well .control-group .controls .btn-primary {
  letter-spacing: 1px;
  padding: 7px 15px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.login-wrap .other-links {
  padding-bottom: 20px;
}
.login-wrap .other-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 12px;
}
.login-wrap .other-links ul li {
  display: inline-block;
  padding: 0 10px;
}
.login-wrap .other-links ul a {
  background: url("../../templates/ja_magz/images/dot.png") no-repeat left center;
  color: #999;
  padding: 0 0 0 12px;
  display: inline-block;
}
.login-wrap .other-links ul a:hover,
.login-wrap .other-links ul a:focus,
.login-wrap .other-links ul a:active {
  background-image: url("../../templates/ja_magz/images/dot-hover.png");
  color: #0379cb;
}
.logout {
  background: #f5f5f5;
  border: 1px solid #e6e6e6;
  margin: 20px auto;
  width: 420px;
  padding: 40px 40px 20px;
}
.category-name {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.category-name,
.category-name a {
  background: #000;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  font-size: 11px;
  padding: 0px 3px;
  text-transform: uppercase;
}
.category-name a,
.t3-module ul li .category-name a {
  color: #fff;
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;
}
.category-name > a:hover,
.category-name > a:focus,
.category-name > a:active,
.category-name:hover,
.category-name:focus,
.category-name:active {
  color: #fff;
  text-decoration: none;
}
.category-name.gray,
.category-name.gray a {
  background: #666;
}
.category-name.gray:hover,
.category-name.gray:focus,
.category-name.gray:active,
.category-name.gray a:hover,
.category-name.gray a:focus,
.category-name.gray a:active {
  background: #595959;
}
.category-name.blue,
.category-name.blue a {
  background: #1ea1fc;
}
.category-name.blue:hover,
.category-name.blue:focus,
.category-name.blue:active,
.category-name.blue a:hover,
.category-name.blue a:focus,
.category-name.blue a:active {
  background: #0596fc;
}
.category-name.green,
.category-name.green a {
  background: #690;
}
.category-name.green:hover,
.category-name.green:focus,
.category-name.green:active,
.category-name.green a:hover,
.category-name.green a:focus,
.category-name.green a:active {
  background: #558000;
}
.category-name.red,
.category-name.red a {
  background: #c00;
}
.category-name.red:hover,
.category-name.red:focus,
.category-name.red:active,
.category-name.red a:hover,
.category-name.red a:focus,
.category-name.red a:active {
  background: #b30000;
}
.category-name.orange,
.category-name.orange a {
  background: #f80;
}
.category-name.orange:hover,
.category-name.orange:focus,
.category-name.orange:active,
.category-name.orange a:hover,
.category-name.orange a:focus,
.category-name.orange a:active {
  background: #e67a00;
}
.category-name.pink,
.category-name.pink a {
  background: #d60a6c;
}
.category-name.pink:hover,
.category-name.pink:focus,
.category-name.pink:active,
.category-name.pink a:hover,
.category-name.pink a:focus,
.category-name.pink a:active {
  background: #be0960;
}
.category-name.purple,
.category-name.purple a {
  background: #8b08ae;
}
.category-name.purple:hover,
.category-name.purple:focus,
.category-name.purple:active,
.category-name.purple a:hover,
.category-name.purple a:focus,
.category-name.purple a:active {
  background: #780796;
}
.category-name.darkorange,
.category-name.darkorange a {
  background: #fb8035;
}
.category-name.darkorange:hover,
.category-name.darkorange:focus,
.category-name.darkorange:active,
.category-name.darkorange a:hover,
.category-name.darkorange a:focus,
.category-name.darkorange a:active {
  background: #fb701c;
}
.category-name.darkblue,
.category-name.darkblue a {
  background: #074e80;
}
.category-name.darkblue:hover,
.category-name.darkblue:focus,
.category-name.darkblue:active,
.category-name.darkblue a:hover,
.category-name.darkblue a:focus,
.category-name.darkblue a:active {
  background: #063f68;
}
.Adv1 .banneritem {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.addthis_button_compact i {
  font-size: 13px;
}
.carousel {
  background: #000;
}
.carousel .carousel-inner {
  background: #000;
  font-family: Helvetica, Arial, sans-serif;
  vertical-align: middle;
  text-align: center;
}
.carousel .carousel-inner > .item {
  padding-bottom: 50px;
}
.carousel .carousel-inner img {
  background: #000;
  margin: auto;
  vertical-align: middle;
  text-align: center;
}
.carousel .carousel-caption {
  position: absolute;
  background: none;
}
.carousel .carousel-control {
  background: #000;
  border: none;
  height: 100%;
  font-size: 0;
  left: 0;
  line-height: normal;
  margin-top: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  top: 0;
  width: 60px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  opacity: 0.75;
  filter: alpha(opacity=75);
}
.carousel .carousel-control:hover,
.carousel .carousel-control:focus,
.carousel .carousel-control:active {
  background: #1ea1fc;
  opacity: 1;
  filter: alpha(opacity=100);
}
.carousel .carousel-control:hover.left:before,
.carousel .carousel-control:focus.left:before,
.carousel .carousel-control:active.left:before {
  background-position: 0 -20px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.carousel .carousel-control:hover.right:before,
.carousel .carousel-control:focus.right:before,
.carousel .carousel-control:active.right:before {
  background-position: -20px -20px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.carousel .carousel-control.right {
  left: auto;
  right: 0;
}
.carousel .carousel-control.left:before {
  background-image: url("../../templates/ja_magz/images/slideshow-navi.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  content: "";
  display: block;
  height: 20px;
  position: absolute;
  left: 20px;
  top: 48%;
  width: 20px;
}
.carousel .carousel-control.right:before {
  background-image: url("../../templates/ja_magz/images/slideshow-navi.png");
  background-position: right 0;
  background-repeat: no-repeat;
  content: "";
  display: block;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 48%;
  width: 20px;
}
.carousel .carousel-header h4 {
  font-size: 18px;
  color: #fff;
}
.carousel .carousel-caption {
  padding-left: 100px;
  padding-right: 100px;
}
.carousel .carousel-caption p {
  height: 20px;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.gallery-item .thumbnails {
  display: none;
}
.carousel-indicators {
  display: none;
}
body #at15s {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
body #at15s .atm-i {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.event-list {
  lst-style: none;
  margin-left: 0;
  margin-top: 40px;
}
.event-list h2 {
  border-top: solid 5px #ddd;
  line-height: normal;
  font-size: 24px;
  margin-left: 25px;
  padding: 30px 0 20px;
}
.event-list li {
  list-style: none;
  border-top: solid 1px #eaeaea;
  padding: 25px 0;
}
.event-list li .time {
  text-transform: uppercase;
  width: 25%;
  color: #aaa;
}
.event-list li .time span {
  display: block;
  margin-bottom: 3px;
}
.event-list li .info-event {
  width: 74%;
}
.event-list li h3 {
  font-size: 15px;
  line-height: normal;
  margin: 0 0 5px;
  color: #2a2a2a;
}
body.popupview.popupview-loaded {
  overflow: hidden;
}
#popup-view {
  display: none;
}
.popup-iframe {
  min-height: 90%;
  width: 100%;
}
.popupview #popup-view {
  background: url("../../templates/ja_magz/images/black-trans-75.png") repeat left top;
  bottom: 0;
  display: block;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000;
  padding: 0;
}
.popupview #popup-position {
  position: absolute;
  top: 60px;
  bottom: 20px;
  width: 90%;
  left: 5%;
}
.popupview #popup-content {
  height: 100%;
  margin: 0 auto;
  max-width: 900px;
  position: relative;
  width: 100%;
  z-index: 1000;
}
.popupview .popup-inner {
  background: #fff;
  border: none;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.popupview .popup-inner.animate {
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}
.popupview .popup-inner.current {
  -webkit-transform: translate(0%,0%);
  -moz-transform: translate(0%,0%);
  -ms-transform: translate(0%,0%);
  -o-transform: translate(0%,0%);
  transform: translate(0%,0%);
}
.popupview .popup-inner.prev {
  -webkit-transform: translate(-125%,0%);
  -moz-transform: translate(-125%,0%);
  -ms-transform: translate(-125%,0%);
  -o-transform: translate(-125%,0%);
  transform: translate(-125%,0%);
}
.popupview .popup-inner.next {
  -webkit-transform: translate(260%,0%);
  -moz-transform: translate(260%,0%);
  -ms-transform: translate(260%,0%);
  -o-transform: translate(260%,0%);
  transform: translate(260%,0%);
}
.popupview .popup-inner-content {
  position: absolute;
  
  top: 0;
  
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.popupview .popup-head {
  background: #111;
  height: 60px;
  top: -60px;
  right: 0;
  width: 100%;
  position: absolute;
  z-index: 1001;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.popupview a#popup-close {
  background: url("../../templates/ja_magz/images/icon_close.png") no-repeat center center #111;
  border-left: solid 1px #1d1d1d;
  border-right: solid 1px #1d1d1d;
  display: block;
  height: 60px;
  position: absolute;
  right: 0;
  text-indent: -999em;
  top: 0px;
  width: 60px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.25s ease-out;
  -moz-transition: opacity 0.25s ease-out;
  -o-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
}
.popupview a#popup-close:hover,
.popupview a#popup-close:focus,
.popupview a#popup-close:active {
  background-color: #1ea1fc;
  border-color: #1ea1fc;
}
.popupview .popup-nav {
  top: -60px;
  margin-top: 0;
  width: auto;
  height: 60px;
  position: absolute;
  z-index: 1001;
}
.popupview .popup-nav a {
  background: none;
  border-right: solid 1px #1D1D1D;
  color: #fff;
  display: inline-block;
  font-size: 25px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  width: 60px;
  opacity: 0.7;
  filter: alpha(opacity=70);
  -webkit-transition: opacity 0.25s ease-out;
  -moz-transition: opacity 0.25s ease-out;
  -o-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
}
.popupview .popup-nav a:hover,
.popupview .popup-nav a:focus {
  background: #1ea1fc;
  text-decoration: none;
  opacity: 1;
  filter: alpha(opacity=100);
}
.popupview .popup-nav a.popup-prev {
  border-left: solid 1px #1d1d1d;
}
.popupview .popup-nav a.popup-prev:hover,
.popupview .popup-nav a.popup-prev:focus,
.popupview .popup-nav a.popup-prev:active {
  border-color: #1ea1fc;
}
.popupview .popup-nav a span {
  display: none;
}
.popupview #popup-prev {
  float: left;
}
.popupview #popup-next {
  float: right;
}
.popupview #popup-content:hover .popup-nav a {
  opacity: 1;
  filter: alpha(opacity=100);
}
.popupview .popup-hide {
  opacity: 0;
  filter: alpha(opacity=0);
}
.popupview .popup-hidectrl #popup-close,
.popupview .popup-hidectrl .popup-nav a {
  opacity: 0;
  filter: alpha(opacity=0);
}
.popup-trackerV {
  bottom: 2px;
  overflow: hidden;
  position: absolute;
  top: 2px;
  right: 2px;
  width: 10px;
  z-index: 100;
  opacity: 1;
  filter: alpha(opacity=100);
  -o-transition-property: opacity;
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
}
.popup-trackerV div {
  background: #666;
  position: absolute;
  width: 100%;
  z-index: 100;
  -moz-transition-property: -Moz-transform;
  -moz-transition-timing-function: cubic-bezier(0.33,0.66,0.66,1);
  -moz-transform: translate(0pt,0px);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.component.view-article .popup-body .item-page {
  width: 640px;
  margin: auto;
}
.popup-body {
  background: #fff;
}
.popup-body .item-page article {
  width: 100%;
}
.popup-body .item-page .article-body {
  width: 640px !important;
}
#user-registration .control-group {
  margin-bottom: 5px;
}
.alert .close {
  right: 0;
}
#eblog-wrapper button,
#eblog-wrapper input[type="button"],
#eblog-wrapper input[type="reset"],
#eblog-wrapper input[type="submit"] {
  background: #ccc;
  color: #fff;
  text-transform: uppercase;
}
#eblog-wrapper button:hover,
#eblog-wrapper button:focus,
#eblog-wrapper button:active,
#eblog-wrapper input[type="button"]:hover,
#eblog-wrapper input[type="button"]:focus,
#eblog-wrapper input[type="button"]:active,
#eblog-wrapper input[type="reset"]:hover,
#eblog-wrapper input[type="reset"]:focus,
#eblog-wrapper input[type="reset"]:active,
#eblog-wrapper input[type="submit"]:hover,
#eblog-wrapper input[type="submit"]:focus,
#eblog-wrapper input[type="submit"]:active {
  background: #1ea1fc;
  color: #fff;
}
body #ezblog-dashboard li .ui-item-content .ui-entry-meta li {
  border-right: 1px solid #eaeaea;
  border-left: none;
  padding: 0 7px 0 0;
  margin: 0 5px 0 0;
}
body #ezblog-dashboard li .ui-item-content .ui-entry-meta li:last-child {
  border: none;
}
body #ezblog-dashboard li .ui-button-option .ui-clock {
  background-position: left center;
  padding-left: 20px;
  float: right !important;
}
body #ezblog-dashboard li .ui-button-option .buttons {
  border-radius: 0 !important;
}
body #ezblog-dashboard li .ui-button-option .buttons.social-share {
  margin-right: 3px;
}
body #ezblog-dashboard li .ui-button-option .buttons.sibling-l,
body #ezblog-dashboard li .ui-button-option .buttons.sibling-m {
  border-right: 1px solid #ddd;
}
body #ezblog-dashboard li .ui-button-option .buttons.sibling-m.border-l {
  border-left: none;
}
body #ezblog-dashboard li .ui-button-option .buttons.sibling-r {
  border-left: none;
}
body #ezblog-dashboard li .ui-button-option .buttons.close {
  text-shadow: none;
  opacity: 1;
  filter: alpha(opacity=100);
}
#ezblog-dashboard .input,
#ezblog-dashboard .inputbox {
  border-color: #eaeaea;
}
#ezblog-dashboard .input:hover,
#ezblog-dashboard .input:focus,
#ezblog-dashboard .input:active,
#ezblog-dashboard .inputbox:hover,
#ezblog-dashboard .inputbox:focus,
#ezblog-dashboard .inputbox:active {
  border-color: #1ea1fc;
}
#eblog-wrapper #blog-login form {
  margin: 0;
}
#eblog-wrapper #blog-login form #form-login-remember label {
  display: inline-block;
}
#eblog-wrapper #blog-login .blog-login-helper li a {
  color: #1ea1fc;
}
#eblog-wrapper #blog-login .blog-login-helper li a:hover,
#eblog-wrapper #blog-login .blog-login-helper li a:focus,
#eblog-wrapper #blog-login .blog-login-helper li a:active {
  color: #0379cb;
}
#eblog-wrapper #ezblog-detail .profile-head {
  background: #f9f9f9;
  border: solid 1px #eaeaea;
  margin-bottom: 40px;
  padding: 20px;
}
#eblog-search .button-search {
  background: #1ea1fc !important;
  border: none !important;
  color: #fff;
  text-transform: uppercase;
  text-shadow: none;
}
#eblog-search .button-search:hover,
#eblog-search .button-search:focus,
#eblog-search .button-search:active {
  background: #aaa !important;
  color: #fff;
}
.mod-preview-info {
  z-index: 100;
}
#ezblog-menu .blog-navi .user-form {
  top: 44px;
}
#ezblog-body ul.featured-entries .featured-title a:hover {
  color: #1ea1fc;
}
#easyblog-login-form button.btn {
  background: #1ea1fc;
}
#easyblog-login-form button.btn:hover,
#easyblog-login-form button.btn:active,
#easyblog-login-form button.btn:focus {
  background: #aaa;
}
.back-to-top {
  background-color: #1ea1fc;
  bottom: 15px;
  height: 40px;
  margin: 0;
  position: fixed;
  right: 15px;
  width: 40px;
  z-index: 1000;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 350ms;
  -moz-transition: opacity 350ms;
  -o-transition: opacity 350ms;
  transition: opacity 350ms;
}
.back-to-top.reveal {
  opacity: 0.3;
  filter: alpha(opacity=30);
  cursor: pointer;
}
.back-to-top.reveal:hover,
.back-to-top.reveal:focus,
.back-to-top.reveal:active {
  opacity: 1;
  filter: alpha(opacity=100);
}
.back-to-top i {
  color: #fff;
  font-size: 12px;
  line-height: 1em;
  left: 50%;
  margin-top: -7px;
  margin-left: -3px;
  position: absolute;
  top: 50%;
}

