

@media (max-width: 767px) {
  h1 {
    font-size: 26px;
    line-height: 1.25;
  }
  h1 small {
    font-size: 26px;
  }
  h2 {
    font-size: 19.5px;
    line-height: 1.25;
  }
  h2 small {
    font-size: 19.5px;
  }
  h3 {
    font-size: 16.25px;
    line-height: 1.25;
  }
  h3 small {
    font-size: 13px;
  }
  h4,
  h5,
  h6 {
    font-size: 13px;
    line-height: 1.25;
  }
  h4 small,
  h5 small,
  h6 small {
    font-size: 13px -2px;
  }
}

