

.blog-header,
.page-header {
  padding-bottom: 0;
  position: relative;
  border: none;
}
.blog-header:after,
.page-header:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  bottom: 18px;
  left: 0;
}
.blog-header .page-title,
.blog-header h1,
.page-header .page-title,
.page-header h1 {
  background: none;
  color: #2a2a2a;
  display: inline-block;
  font-size: 50px;
  font-weight: 300;
  font-family: 'novecento_wide_bookbold', sans-serif;
  line-height: normal;
  z-index: 2;
  position: relative;
  text-transform: uppercase;
  padding: 0 10px 0 0;
}
.blog-header .page-title:before,
.blog-header h1:before,
.page-header .page-title:before,
.page-header h1:before {
  bottom: 0;
  content: ".";
  display: block;
  position: absolute;
  right: 0;
}
.blog .left-blogitem {
  width: 77%;
  background: url("../../templates/ja_magz/images/line.gif") repeat-y right top;
  min-height: 140px;
}
.blog .left-blogitem .blog-inner {
  padding-right: 20px;
}
.blog .right-blogitem {
  width: 20%;
  margin-left: 2%;
}
.blog .right-blogitem .article-info {
  width: 100%;
}
.blog .right-blogitem .article-info dd {
  border-bottom: solid 1px #eaeaea;
  display: block;
  margin-bottom: 5px;
  margin-right: 0;
  padding-bottom: 5px;
  white-space: normal;
  width: 100%;
}
.blog .right-blogitem .article-info .createdby span {
  border: none;
}
.blog .right-blogitem .menu-edit ul {
  margin: 5px 0 0 0;
}
.blog .right-blogitem .menu-edit ul li {
  padding-left: 10px;
  margin-left: 0;
}
.blog .right-blogitem .menu-edit ul li:first-child {
  margin: 0;
  padding: 0;
}
.blog .right-blogitem .menu-edit ul li a i {
  font-size: 13px;
}
.blog .right-blogitem .article-aside {
  margin-bottom: 0;
}
.blog .items {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.blog .article-header .article-title {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 15px;
}
.blog .article-header .article-title a {
  color: #2a2a2a;
}
.blog .article-header .article-title a:hover {
  color: #1ea1fc;
}
.blog .images-content {
  width: 210px;
  float: left;
  margin: 5px 20px 10px 0;
}
.blog .images-content img {
  width: 100%;
}
.blog .article-intro {
  color: #7a7a7a;
  margin-bottom: 10px;
}
.blog .article-intro > p {
  display: inline;
  margin-right: 3px;
}
.blog .article-intro > iframe {
  width: 100%;
}
.blog .article-intro > p > img {
  display: none;
}
.blog .leading .left-blogitem .article-header,
.blog .leading .left-blogitem .article-intro {
  padding-right: 20px;
}
.blog .leading .article-header .article-title {
  font-size: 28px;
  line-height: 34px;
}
.blog .leading .images-content {
  width: auto;
  float: none;
  margin: 0 0 10px 0;
}
.blog .leading .images-content img {
  margin-bottom: 15px;
  width: auto;
}
.view-featured .tpl-inf-wrapper {
  padding-bottom: 60px;
}
.blog-featured,
.userpage {
  margin: 0 -20px;
  position: relative;
}
.blog-featured:before,
.userpage:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  height: 20px;
  z-index: 1;
}
.blog-featured .menu-edit ul,
.userpage .menu-edit ul {
  margin-left: 0;
}
.blog-featured .menu-edit ul li,
.userpage .menu-edit ul li {
  margin-left: 5px;
  padding-left: 7px;
}
.blog-featured .menu-edit ul li:first-child,
.userpage .menu-edit ul li:first-child {
  padding-left: 0;
}
.blog-featured .menu-edit ul li i,
.userpage .menu-edit ul li i {
  font-size: 13px;
}
.blog-featured iframe,
.userpage iframe {
  display: none;
}
.blog-featured article,
.userpage article {
  padding: 20px;
}
.blog-featured .comment-count,
.userpage .comment-count {
  line-height: 16px;
}
.blog-featured .article-title,
.userpage .article-title {
  font-size: 16px;
  color: #2a2a2a;
  line-height: 1.3;
}
.blog-featured .article-title a,
.userpage .article-title a {
  color: #2a2a2a;
}
.blog-featured .article-title a:hover,
.blog-featured .article-title a:focus,
.blog-featured .article-title a:active,
.userpage .article-title a:hover,
.userpage .article-title a:focus,
.userpage .article-title a:active {
  color: #1ea1fc;
}
.blog-featured .article-aside,
.userpage .article-aside {
  margin-bottom: 10px;
}
.blog-featured .article-aside .article-info,
.userpage .article-aside .article-info {
  float: left;
  width: 80%;
}
.blog-featured .article-intro,
.userpage .article-intro {
  margin-bottom: 20px;
}
.blog-featured .article-intro > p,
.userpage .article-intro > p {
  display: inline;
}
.blog-featured.av-grid .items,
.userpage.av-grid .items {
  background: url("../../templates/ja_magz/images/line.gif") repeat-y left top;
  border-bottom: solid 1px #eaeaea;
}
.blog-featured.av-grid .items.eq-first,
.userpage.av-grid .items.eq-first {
  background: none;
}
.blog-featured.av-grid .article-intro,
.userpage.av-grid .article-intro {
  margin-bottom: 70px;
}
.blog-featured.av-grid .comment-count,
.userpage.av-grid .comment-count {
  position: absolute;
  bottom: 15px;
  left: 20px;
}
.blog-featured.av-grid .readmore,
.userpage.av-grid .readmore {
  border-right: solid 1px #eaeaea;
  padding-right: 10px;
  padding-left: 0 !important;
}
.blog-featured.av-grid .article-footer,
.userpage.av-grid .article-footer {
  margin: 0;
}
.blog-featured.av-list article,
.userpage.av-list article {
  padding: 40px 20px;
}
.blog-featured.av-list .items,
.userpage.av-list .items {
  border-bottom: solid 1px #eaeaea;
}
.blog-featured.av-list .images-content,
.userpage.av-list .images-content {
  display: inline-block;
  float: left;
  margin-right: 10px;
}
.blog-featured.av-list .images-content img,
.userpage.av-list .images-content img {
  display: none;
}
.blog-featured.av-list .images-content i[class*="icon"],
.userpage.av-list .images-content i[class*="icon"] {
  display: none;
}
.blog-featured.av-list .images-content .category-name,
.userpage.av-list .images-content .category-name {
  position: inherit;
}
.blog-featured.av-list .images-content .item-image,
.userpage.av-list .images-content .item-image {
  display: none;
}
.blog-featured.av-list .article-aside,
.userpage.av-list .article-aside {
  display: inline;
  float: left;
  background: none;
}
.blog-featured.av-list .article-aside .article-info,
.userpage.av-list .article-aside .article-info {
  width: auto !important;
}
.blog-featured.av-list .article-aside .pull-right,
.userpage.av-list .article-aside .pull-right {
  position: absolute;
  right: 20px;
}
.blog-featured.av-list .header-article,
.userpage.av-list .header-article {
  float: left;
  width: 50%;
  position: relative;
}
.blog-featured.av-list .article-header,
.userpage.av-list .article-header {
  float: left;
  width: 100%;
}
.blog-featured.av-list .article-header > .article-title,
.userpage.av-list .article-header > .article-title {
  margin-right: 20px;
}
.blog-featured.av-list .info-article,
.userpage.av-list .info-article {
  background: url("../../templates/ja_magz/images/line.gif") repeat-y left top;
  float: left;
  width: 50%;
}
.blog-featured.av-list .info-article .article-intro,
.blog-featured.av-list .info-article .tags,
.userpage.av-list .info-article .article-intro,
.userpage.av-list .info-article .tags {
  margin-left: 20px;
}
.blog-featured.av-list .info-article .readmore,
.userpage.av-list .info-article .readmore {
  border-right: solid 1px #eaeaea;
  padding-right: 10px;
  padding-left: 0 !important;
}
.blog-featured.av-list .info-article .article-footer,
.userpage.av-list .info-article .article-footer {
  margin-bottom: 0;
}
.blog-featured.av-list .comment-count,
.userpage.av-list .comment-count {
  margin-left: 20px;
}
.userpage .items.gallery .info-article .article-intro img {
  display: none;
}
.userpage .items .info-article .tags {
  margin-top: 0;
  margin-bottom: 40px;
}
.userpage.av-list .info-article .readmore {
  margin-left: 0;
}
.userpage.av-list .info-article .tags {
  margin: 0 0 10px 20px;
}
.switch-container .tpl-layout-switch {
  position: static;
  left: auto;
  top: auto;
}
.user-info {
  background: #f9f9f9;
  border: solid 1px #eaeaea;
  margin-bottom: 20px;
  min-height: 130px;
  padding: 20px;
}
.user-info .avatar {
  float: left;
  font-weight: 700;
  margin-right: 15px;
}
.user-info .avatar .no-avatar {
  width: 130px;
  height: 130px;
  font-size: 140px;
  display: inline-block;
  text-align: center;
}
.user-info .info-contact {
  float: left;
  width: 83%;
}
.user-info .contact-name {
  color: #1ea1fc;
  font-size: 25px;
  font-weight: 700;
  display: block;
}
.user-info .social-link {
  display: inline-block;
  list-style: none;
  margin: 10px 0 0 !important;
}
.user-info .social-link li {
  float: left;
}
.user-info .social-link li a {
  display: block;
  text-align: center;
  margin-right: 4px;
  font-size: 0;
  text-indent: -999em;
}
.user-info .social-link li a i {
  background: #000;
  color: #fff;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 20px;
  font-size: 13px;
  text-indent: 0;
}
.user-info .social-link li a i.icon-facebook {
  background: #3b5998;
}
.user-info .social-link li a i.icon-google-plus {
  background: #dd4b39;
}
.user-info .social-link li a i.icon-twitter {
  background: #00aeef;
}
.user-info .social-link li a i.icon-linkedin {
  background: #007bb6;
}
.view-contact .posted-by {
  display: inline-block;
  font-weight: 500;
  line-height: normal;
  float: left;
  margin: 0;
  width: 80%;
}
.view-contact .posted-by > span {
  display: inline;
  font-size: 13px;
}
.view-contact .switch-container {
  display: inline-block;
  float: right;
}
.view-contact .contact-links {
  line-height: normal;
  display: inline-block;
  float: left;
  width: 100%;
}
.view-contact .contact-links ul {
  float: left;
  margin: 0 !important;
  list-style: none;
}
.view-contact .contact-links ul li {
  display: inline-block;
  margin-top: 10px !important;
}
.view-contact .contact-links ul li a {
  height: 20px;
}
.items-leading .leading {
  margin-bottom: 40px;
}
.media-blog {
  margin-left: -20px;
  margin-right: -20px;
  overflow: hidden;
}
.media-blog .infinity-cont {
  margin-top: -20px;
}
.media-blog .items {
  background: url("../../templates/ja_magz/images/line.gif") repeat-y left top;
  border-bottom: solid 1px #eaeaea;
  position: relative;
}
.media-blog article {
  padding: 20px;
}
.media-blog .article-info {
  float: left;
}
.media-blog .menu-edit {
  float: right;
  display: inline-block;
}
.media-blog .menu-edit ul {
  margin: 0;
}
.media-blog .article-title {
  font-size: 16px;
  line-height: 1.3;
  color: #2a2a2a;
  padding-bottom: 20px;
}
.media-blog .article-title a {
  color: #2a2a2a;
}
.media-blog .article-title a:hover,
.media-blog .article-title a:focus,
.media-blog .article-title a:active {
  color: #1ea1fc;
}
.media-blog .article-intro {
  display: none;
}
.media-blog .article-intro p {
  display: inline;
}
.media-blog .comment-count {
  bottom: 15px;
  left: 20px;
  position: absolute;
}
.media-blog .infinity-items {
  border-top: solid 5px #eaeaea;
  margin-top: 40px;
  padding-top: 0;
}
.media-blog .items.leading {
  min-height: 300px;
}
.article-link {
  position: relative;
  display: block;
}
.article-link .icon-play-sign,
.article-link .icon-camera {
  color: #fff;
  font-size: 30px;
  top: 50%;
  left: 50%;
  margin-left: -12px;
  margin-top: -15px;
  position: absolute;
  line-height: 1;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.article-link:hover .icon-play-sign,
.article-link:hover .icon-camera,
.article-link:focus .icon-play-sign,
.article-link:focus .icon-camera,
.article-link:active .icon-play-sign,
.article-link:active .icon-camera {
  color: #1ea1fc;
}
.images-content .icon-play-sign {
  font-size: 50px;
  margin-left: -22px;
  margin-top: -25px;
}
.media-blog.photo-page {
  margin-right: -15px;
}
.media-blog.photo-page .images-content:before {
  background: url("../../templates/ja_magz/images/bg-gallery.gif") repeat-x 5px bottom;
  background-color: none !important;
  display: block;
  height: 5px;
  bottom: -5px;
  right: -5px;
  width: 100%;
  z-index: -10;
  content: "";
  position: absolute;
}
.media-blog.photo-page .images-content:after {
  background: url("../../templates/ja_magz/images/bg-gallery-right.gif") repeat-y right 0;
  background-color: none !important;
  display: block;
  height: 100%;
  bottom: -5px;
  right: -5px;
  width: 5px;
  z-index: -10;
  content: "";
  position: absolute;
}
.view-article .page-header {
  display: none;
}
.view-article.photo-page body,
.view-article.video-page body,
.view-article.media-page body {
  background: #fff;
}
.view-article.photo-page body .t3-mainbody,
.view-article.video-page body .t3-mainbody,
.view-article.media-page body .t3-mainbody {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}
.view-article.photo-page body .t3-content,
.view-article.video-page body .t3-content,
.view-article.media-page body .t3-content {
  width: 100%;
  margin-left: 0 !important;
}
.view-article.photo-page body .t3-content .container div#system-message .alert,
.view-article.video-page body .t3-content .container div#system-message .alert,
.view-article.media-page body .t3-content .container div#system-message .alert {
  margin-top: 10px;
}
.view-article.photo-page body .media-header,
.view-article.video-page body .media-header,
.view-article.media-page body .media-header {
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #000;
  color: #fff;
}
.view-article.photo-page body .article-title,
.view-article.video-page body .article-title,
.view-article.media-page body .article-title {
  margin-bottom: 40px;
}
.view-article.photo-page body .article-title a,
.view-article.video-page body .article-title a,
.view-article.media-page body .article-title a {
  color: #fff;
}
.view-article.photo-page body .article-title a:hover,
.view-article.photo-page body .article-title a:focus,
.view-article.photo-page body .article-title a:active,
.view-article.video-page body .article-title a:hover,
.view-article.video-page body .article-title a:focus,
.view-article.video-page body .article-title a:active,
.view-article.media-page body .article-title a:hover,
.view-article.media-page body .article-title a:focus,
.view-article.media-page body .article-title a:active {
  color: #1ea1fc;
}
.view-article.photo-page body .item-page,
.view-article.video-page body .item-page,
.view-article.media-page body .item-page {
  margin-left: 40px;
}
.view-article.photo-page body .item-page > article,
.view-article.video-page body .item-page > article,
.view-article.media-page body .item-page > article {
  text-align: center;
}
.view-article.photo-page body .item-page > article .article-aside,
.view-article.video-page body .item-page > article .article-aside,
.view-article.media-page body .item-page > article .article-aside {
  border-bottom: 1px solid #222;
  margin-bottom: 40px;
  margin-top: 15px;
  padding-bottom: 15px;
}
.view-article.photo-page body .item-page > article .category-name,
.view-article.video-page body .item-page > article .category-name,
.view-article.media-page body .item-page > article .category-name {
  float: left;
  margin-right: 10px;
  position: inherit;
}
.view-article.photo-page body .item-page > article .createdby a,
.view-article.video-page body .item-page > article .createdby a,
.view-article.media-page body .item-page > article .createdby a {
  color: #fff;
}
.view-article.photo-page body .item-page > article .images-content,
.view-article.video-page body .item-page > article .images-content,
.view-article.media-page body .item-page > article .images-content {
  margin-bottom: 25px;
}
.view-article.photo-page body .item-page > article .menu-edit,
.view-article.video-page body .item-page > article .menu-edit,
.view-article.media-page body .item-page > article .menu-edit {
  width: auto;
  text-align: left;
}
.view-article.photo-page body .item-page > article .menu-edit ul,
.view-article.video-page body .item-page > article .menu-edit ul,
.view-article.media-page body .item-page > article .menu-edit ul {
  margin: 0;
}
.view-article.photo-page body .item-page > article .menu-edit ul li,
.view-article.video-page body .item-page > article .menu-edit ul li,
.view-article.media-page body .item-page > article .menu-edit ul li {
  line-height: 10px;
}
.view-article.photo-page body .item-page > article .divider-vertical,
.view-article.video-page body .item-page > article .divider-vertical,
.view-article.media-page body .item-page > article .divider-vertical {
  display: none;
}
.view-article.photo-page body .item-page > article iframe,
.view-article.video-page body .item-page > article iframe,
.view-article.media-page body .item-page > article iframe {
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}
.view-article.photo-page body .item-page > article .article-content > p,
.view-article.video-page body .item-page > article .article-content > p,
.view-article.media-page body .item-page > article .article-content > p {
  text-align: left;
}
.view-article.photo-page body .item-page > article .gallery-item,
.view-article.video-page body .item-page > article .gallery-item,
.view-article.media-page body .item-page > article .gallery-item {
  text-align: center;
}
.view-article.photo-page body .item-page > article .article-body,
.view-article.video-page body .item-page > article .article-body,
.view-article.media-page body .item-page > article .article-body {
  color: #fff;
}
.view-article.photo-page body #disqus_thread,
.view-article.video-page body #disqus_thread,
.view-article.media-page body #disqus_thread {
  margin-top: 40px;
}
.view-article.photo-page body .tpl-inf-wrapper,
.view-article.video-page body .tpl-inf-wrapper,
.view-article.media-page body .tpl-inf-wrapper {
  margin-bottom: 40px;
}
.comment-count .addthis_button_compact i {
  vertical-align: middle;
}
.article-info .event-day {
  width: 44%;
  float: left;
  color: #999;
  margin-top: 4px;
}
.article-info .event-day .startday,
.article-info .event-day .endday {
  font-family: 'novecento_wide_bookbold', sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  float: left;
  margin-bottom: 3px;
}
.article-info .times {
  width: 55%;
  float: left;
  text-align: center;
  line-height: normal;
}
.article-info .times span {
  display: block;
  font-size: 35px;
  line-height: 1;
  letter-spacing: -4px;
}
.article-info .times .month {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.item-page .article-body {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  line-height: 24px;
  color: #333;
}
.item-page .article-body .divider-vertical {
  margin-bottom: 0;
}
.item-page .article-body > ul {
  margin-left: 25px !important;
}
.item-page .article-body .pager ul,
.item-page .article-body .pagenav {
  margin-left: 0 !important;
}
.item-page .t3-sidebar-2 {
  padding-bottom: 0;
}
.item-page > article > .article-aside {
  border-bottom: solid 1px #eaeaea;
  margin-top: 15px;
  margin-bottom: 40px;
  padding-bottom: 15px;
}
.item-page > article > .article-aside .category-name {
  float: left;
  position: inherit;
  margin-right: 10px;
}
.item-page > article > .article-aside .menu-edit ul {
  margin-left: 0;
}
.item-page > article > .article-aside .menu-edit ul li {
  margin-left: 0;
}
.item-page > article > .article-aside .menu-edit ul li:first-child {
  border-left: solid 1px #eaeaea;
  padding-left: 10px;
}
.item-page > article > .article-aside .createdby span {
  border: none;
  margin: 0 0 0 5px;
  padding: 0 0 0 5px;
}
.item-page .create > span,
.item-page .published > span,
.item-page .hits > span {
  border-right: solid 1px #eaeaea;
  padding: 0 10px 0 0;
}
.item-page .create {
  margin-right: 0;
}
.item-page .article-info .hits {
  margin-right: 0;
}
.item-page .comment-count {
  border: none;
  margin-right: 0;
}
.item-page .comment-count a {
  margin: 0;
  padding: 0 0 0 10px;
}
.item-page .comment-count .jacomment-count {
  border: none;
  margin: 0;
  padding: 0;
}
.item-page .addthis_button_compact {
  color: #aaa;
  float: left;
  font-size: 11px;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}
.item-page .addthis_button_compact:hover,
.item-page .addthis_button_compact:focus,
.item-page .addthis_button_compact:active {
  color: #1ea1fc;
}
.item-page .addthis_button_compact i {
  font-size: 14px;
  vertical-align: middle;
}
.item-page .header-related {
  margin-top: 20px;
  text-transform: uppercase;
  text-align: left;
  font-size: 14px;
  line-height: normal;
}
.item-page .tpl-inf-wrapper .items article .article-aside {
  border-bottom: none;
  margin-bottom: 10px;
}
.item-page .tpl-inf-wrapper .items .article-title a {
  color: #2a2a2a;
}
.item-page .tpl-inf-wrapper .items .article-title a:hover,
.item-page .tpl-inf-wrapper .items .article-title a:focus,
.item-page .tpl-inf-wrapper .items .article-title a:active {
  color: #1ea1fc;
}
.off-related .item-page .container {
  display: none;
}
span.name {
  display: none;
}
.items-row .item {
  margin-bottom: 40px;
}
.images-content {
  margin-bottom: 10px;
  min-height: 20px;
  position: relative;
}
.images-content .item-image {
  margin: 0 !important;
}
.images-content .item-image img {
  margin: 0;
  width: 100% !important;
}
.divider-vertical {
  margin: 0 0 40px;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}
.article-aside {
  color: #999;
  font-size: 12px;
  margin-bottom: 10px;
}
.article-info {
  color: #aaa;
  font-size: 11px;
  margin: 0;
  position: relative;
  width: 80%;
}
.article-info .article-info-term {
  display: none;
}
.article-info dd {
  float: left;
  margin-left: 0;
  margin-right: 10px;
  white-space: nowrap;
}
.article-info .createdby span {
  color: #2a2a2a;
  border-right: solid 1px #eaeaea;
  font-weight: 700;
  padding-right: 10px;
}
.article-info .createdby a {
  color: #2a2a2a;
}
.article-info .createdby a:hover,
.article-info .createdby a:focus,
.article-info .createdby a:active {
  color: #1ea1fc;
}
.menu-edit ul {
  padding-top: 3px;
  margin-bottom: 0;
  margin-left: 0;
}
.menu-edit ul li {
  border-left: 1px solid #eaeaea;
  display: inline-block;
  padding-left: 10px;
  margin-bottom: 0;
  margin-left: 10px;
  list-style: none;
  line-height: normal;
  vertical-align: top;
}
.menu-edit ul li:first-child {
  border: none;
  margin-left: 0;
  padding-left: 0;
}
.menu-edit ul li a {
  color: #aaa;
  font-size: 0;
  display: block;
  height: 14px;
  text-indent: -999em;
  width: 14px;
}
.menu-edit ul li a:hover,
.menu-edit ul li a:focus,
.menu-edit ul li a:active {
  color: #1ea1fc;
}
.menu-edit ul li a i {
  font-size: 12px;
  text-indent: 0;
  display: block;
}
.article-footer {
  color: #999;
  font-size: 12px;
  margin-bottom: 20px;
}
article img[align=left],
.img_caption.left,
.pull-left.item-image {
  margin: 0 40px 20px 0;
}
article img[align=right],
.img_caption.right,
.pull-right.item-image {
  margin: 0 0 20px 40px;
}
.pull-none.item-image {
  margin-bottom: 20px;
}
.img-intro-none,
.img-intro-left,
.img-intro-right,
.img-fulltext-none,
.img-fulltext-left,
.img-fulltext-right,
.img_caption {
  position: relative;
}
.img-intro-none,
.img-intro-left,
.img-intro-right,
.img-fulltext-none,
.img-fulltext-left,
.img-fulltext-right,
.img_caption {
  margin-bottom: 20px;
  max-width: 100%;
}
.img-fulltext-left {
  float: left;
  margin-right: 40px;
}
.img-fulltext-right {
  float: right;
  margin-left: 40px;
}
.img-intro-none img,
.img-intro-left img,
.img-intro-right img,
.img-fulltext-none img,
.img-fulltext-left img,
.img-fulltext-right img {
  margin: 0;
}
.img_caption img {
  margin-bottom: 1px !important;
}
.img_caption p.img_caption {
  background: #eee;
  color: #666;
  font-size: 11px;
  width: 100%;
  margin: 0;
  padding: 5px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
}
article aside .btn-group > .dropdown-toggle,
article aside .btn-group > .dropdown-toggle:hover,
article aside .btn-group > .dropdown-toggle:active,
article aside .btn-group > .dropdown-toggle:focus {
  background: transparent;
  border: 0;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.comment-count {
  font-size: 11px;
}
.comment-count .jacomment-count,
.comment-count .readmore {
  display: inline-block;
}
.comment-count .jacomment-count a,
.comment-count .readmore a {
  border-right: solid 1px #eaeaea;
  padding-right: 7px;
  margin-right: 5px;
}
.comment-count .containerCountComment {
  border-right: solid 1px #eaeaea;
  margin-right: 5px;
  padding-right: 5px;
}
.comment-count a {
  color: #aaa;
}
.comment-count a:hover,
.comment-count a:focus,
.comment-count a:active {
  color: #1ea1fc;
}
.login_form fieldset,
.login fieldset {
  padding: 15px 0 0;
}
.login_form fieldset p,
.login fieldset p {
  margin: 0 0 5px;
}
.login_form label,
.login label {
  display: block;
  font-weight: bold;
}
.login-fields {
  margin: 0 0 10px;
}
.login_form .input,
.login_form .inputbox,
.login-fields .required {
  margin-left: 10px;
  width: 150px;
}
.login_form .remember .input,
.login_form .remember .inputbox {
  width: 20px;
}
.form-register fieldset {
  padding: 0 0 10px;
}
.form-register p {
  margin: 0 0 5px;
}
.form-register p.form-des {
  margin: 15px 0;
}
.form-register label {
  display: block;
  float: left;
  font-weight: bold;
  text-align: right;
  width: 130px;
}
.form-register .input,
.form-register .inputbox {
  margin-left: 10px;
  width: 200px;
}
.form-register .btn,
.form-register .button {
  margin-left: 140px;
}
.registration fieldset dt,
.profile-edit fieldset dt {
  margin-right: 5px;
}
.registration fieldset legend,
.profile-edit fieldset legend {
  border-bottom: 3px solid #2a2a2a;
  color: #2a2a2a;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.admintable textarea {
  max-width: 90% !important;
  resize: none;
}
#mailto-window {
  background: #fff;
  margin: 10px 0 20px;
  padding: 0;
  position: relative;
}
#mailto-window h2 {
  color: #2a2a2a;
  border-bottom: 3px solid #2a2a2a;
  font-size: 14px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
#mailto-window .mailto-close {
  background: #fff;
  background: -moz-linear-gradient(bottom,#ccc,#f0f0f0);
  background: -webkit-linear-gradient(bottom,#ccc,#f0f0f0);
  border: 1px solid #CCC;
  border-radius: 3px;
  color: #666;
  font-size: 92%;
  padding: 2px 5px;
  position: absolute;
  top: -10px;
  right: 0px;
  text-shadow: 1px 1px 0 #f0f0f0;
}
#mailto-window .mailto-close a {
  color: #666;
}
#mailto-window .mailto-close:hover {
  border-color: #999;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
}
#mailtoForm .formelm {
  padding: 5px 0;
  vertical-align: middle;
  overflow: hidden;
}
#mailtoForm .formelm label {
  display: inline-block;
  float: left;
  font-weight: normal;
  vertical-align: middle;
  width: 100px;
}
#mailtoForm p {
  margin-top: 20px;
}
#mailtoForm .input,
#mailtoForm .inputbox {
  width: 65%;
}
#mailtoForm .btn,
#mailtoForm .button,
#mailtoForm button {
  margin-right: 5px;
}
.user-details {
  padding: 10px 0;
}
.user-details p {
  margin: 0 0 5px;
}
.user-details label {
  display: block;
  float: left;
  font-weight: bold;
  text-align: right;
  width: 130px;
}
.user-details .input,
.user-details .inputbox {
  margin-left: 10px;
  width: 200px;
}
.user-details .btn,
.user-details button {
  margin-left: 140px;
}
.user-details .paramlist .paramlist_key {
  padding: 0 0 5px;
  width: 130px;
}
.user-details .paramlist .paramlist_value {
  padding: 0 0 5px;
}
.user-details .user_name span {
  font-weight: bold;
  padding-left: 10px;
}
.reset .form-validate p,
.remind .form-validate p {
  background: #eee;
  border: 1px solid #eaeaea;
  margin-bottom: 20px;
  padding: 10px 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.reset .form-validate fieldset dl,
.remind .form-validate fieldset dl {
  margin: 0;
}
.reset .form-validate fieldset dt,
.remind .form-validate fieldset dt {
  margin: 4px 0 0 0;
}
.search .error {
  color: #c00;
  font-style: italic;
}
#searchForm {
  *zoom: 1;
}
#searchForm:before,
#searchForm:after {
  display: table;
  content: "";
  line-height: 0;
}
#searchForm:after {
  clear: both;
}
#searchForm fieldset {
  margin: 20px 0;
}
#searchForm legend {
  margin-bottom: 10px;
}
#searchForm .btn-group > .btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#searchForm .ordering-box {
  padding-top: 10px;
}
#searchForm .ordering-box .ordering {
  display: inline-block;
  padding-top: 5px;
  vertical-align: top;
}
#searchForm .ordering-box select.inputbox {
  width: auto;
}
#searchForm .controls label {
  display: inline-block;
  vertical-align: inherit;
}
#searchForm .controls input[type="radio"] {
  vertical-align: top;
  margin: 3px 0 0 -18px;
  padding: 0;
}
#searchForm .form-limit > label {
  display: inline-block;
  padding-top: 5px;
  vertical-align: top;
}
#searchForm .form-limit > select.input {
  width: auto;
}
.phrases-box input,
.phrases-box label,
.form-limit input,
.form-limit label,
.only label {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}
.phrases-box input input[type="checkbox"],
.phrases-box label input[type="checkbox"],
.form-limit input input[type="checkbox"],
.form-limit label input[type="checkbox"],
.only label input[type="checkbox"] {
  margin-top: 3px;
}
.phrases-box input {
  margin: 3px 0 0 0;
}
.search-results {
  border-top: 1px solid #eaeaea;
  margin: 20px 0;
  padding-bottom: 20px 0;
  word-wrap: break-word;
}
.search-results .result-title {
  font-size: 15px;
  margin-top: 20px;
}
.search-results .result-category {
  font-size: 11px;
  color: #999;
}
.search-results .result-text {
  margin-top: 5px;
  margin-bottom: 5px;
}
.search-results .result-created {
  font-size: 11px;
  color: #999;
}
#finder-search input.inputbox {
  margin-bottom: 10px;
  vertical-align: top;
}
#finder-search fieldset.word {
  margin-bottom: 10px;
}
#finder-search #finder-filter-window ul {
  margin-left: 0;
  list-style: none;
}
#finder-search #finder-filter-window ul li {
  padding: 10px 0;
}
#finder-search #finder-filter-window ul li label {
  display: inline-block;
  width: 160px;
}
#finder-search #finder-filter-window ul li select {
  margin-bottom: 0;
}
.finder > h1,
.contact > h1,
.newsfeed-category > h1 {
  color: #2a2a2a;
  font-family: 'novecento_wide_bookbold', sans-serif;
  font-size: 50px;
  font-weight: 300;
  line-height: normal;
  margin: 0 0 40px;
  text-transform: uppercase;
}
.contact .contact-wrap > h3 {
  font-size: 16px;
  color: #2a2a2a;
}
.contact .contact-wrap > h3:first-child {
  color: #2a2a2a;
  font-family: 'novecento_wide_bookbold', sans-serif;
  font-size: 50px;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  margin: 0 0 20px;
}
.contact .contact-address {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  margin: 0 0 40px 0;
  padding: 30px 0 15px 0;
}
.contact .contact-links {
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 40px;
}
.contact .contact-links .nav-tabs.nav-stacked > li > a {
  background: url("../../templates/ja_magz/images/dot.png") no-repeat left center;
  border: none;
  color: #2a2a2a;
  padding: 5px 0 5px 15px;
  display: inline-block;
}
.contact .contact-links .nav-tabs.nav-stacked > li > a:hover,
.contact .contact-links .nav-tabs.nav-stacked > li > a:focus,
.contact .contact-links .nav-tabs.nav-stacked > li > a:active {
  background-image: url("../../templates/ja_magz/images/dot-hover.png");
  color: #1ea1fc;
}
.contact .contact-link ul li {
  float: left;
  display: inline-block;
}
.contact .contact-link ul li a {
  border: none;
  display: block;
  font-size: 0;
  margin: 0 5px 0 0;
  height: 32px;
  padding: 0;
  text-indent: -999em;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.contact .contact-link ul li a i {
  background: #000;
  color: #fff;
  font-size: 14px;
  display: block;
  height: 32px;
  line-height: 32px;
  text-align: center;
  vertical-align: middle;
  width: 32px;
}
.contact .contact-link ul li a i.icon-twitter {
  background-color: #00AEEF;
}
.contact .contact-link ul li a i.icon-facebook {
  background-color: #3B5998;
}
.contact .contact-link ul li a i.icon-google-plus {
  background-color: #DD4B39;
}
.contact .contact-link ul li a i.icon-linkedin {
  background-color: #007BB6;
}
.contact .contact-link ul li a i.icon-youtube {
  background-color: #CC0000;
}
.contact .contact-link ul li a.no-icon {
  font-size: 13px;
  text-indent: 0;
  line-height: 32px;
}
.contact .contact-info {
  margin-bottom: 20px;
  color: #7a7a7a;
}
.contact .contact-info .jicons-none {
  width: 20px;
  display: inline-block;
  color: #aaa;
}
.contact .contact-info .jicons-none > i {
  font-size: 14px;
}
.contact .contact-info .contact-emailto > a {
  color: #7a7a7a;
}
.contact .contact-info .contact-emailto > a:hover {
  color: #0379cb;
}
.contact .contact-form > h3,
.contact .contact-misc > h3 {
  font-size: 16px;
  font-weight: bold;
  color: #2a2a2a;
  margin: 0 0 40px 0;
  line-height: normal;
}
.contact .contact-col1 .contact-misc {
  padding-right: 40px;
}
.contact .contact-col1 .contact-misc > div {
  margin-bottom: 20px;
}
.contact .contact-form {
  border-left: 1px solid #eaeaea;
  padding-left: 40px;
  margin-left: -40px;
}
.contact .contact-form legend {
  font-size: 13px;
  color: #999;
  line-height: normal;
  border: none;
  padding-bottom: 20px;
  margin-bottom: 0;
}
.contact .contact-form .control-contact {
  margin-bottom: 10px;
}
.contact .contact-form .control-contact > label {
  width: 20%;
  float: left;
  padding-top: 5px;
}
.contact .contact-form .control-contact > input,
.contact .contact-form .control-contact > textarea {
  width: 75%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.contact .contact-form .control-group-footer .control-group > label {
  display: inline-block;
}
.contact .contact-form .control-group-footer .control-group > input[type="checkbox"] {
  margin: 3px 5px 0 0;
  vertical-align: top;
}
.contact .contact-form .control-group-footer .control-group > button.btn {
  display: block;
  padding: 10px 0;
  width: 100%;
}
.contact .accordion .accordion-inner,
.contact .tab-content .accordion-inner {
  padding: 10px 40px;
}
.contact .accordion .contact-address,
.contact .accordion .contact-links,
.contact .tab-content .contact-address,
.contact .tab-content .contact-links {
  border: none;
  padding: 20px 0 10px 0;
  margin-bottom: 0;
}
.contact .accordion .contact-links,
.contact .tab-content .contact-links {
  padding: 10px 0 0 0;
}
.contact .accordion .contact-form,
.contact .tab-content .contact-form {
  margin: 0;
  padding: 10px 0 0 0;
  border: none;
}
.contact .accordion .contact-form .control-contact > label,
.contact .tab-content .contact-form .control-contact > label {
  width: 10%;
}
.contact .accordion .contact-form .control-contact > input,
.contact .accordion .contact-form .control-contact > textarea,
.contact .tab-content .contact-form .control-contact > input,
.contact .tab-content .contact-form .control-contact > textarea {
  width: 40%;
}
.contact .accordion .contact-form .control-group-footer .control-group,
.contact .tab-content .contact-form .control-group-footer .control-group {
  margin-left: 10%;
}
.contact .accordion .contact-form .control-group-footer .control-group > button.btn,
.contact .tab-content .contact-form .control-group-footer .control-group > button.btn {
  width: auto;
  padding: 10px 20px;
}
.contact .accordion .contact-miscinfo .dl-horizontal dd,
.contact .tab-content .contact-miscinfo .dl-horizontal dd {
  margin-left: 0;
}
.contact .contact-wrap >.nav-tabs {
  border-bottom: 3px solid #2a2a2a;
  border-top: 1px solid #eaeaea;
  margin-bottom: 10px;
}
.contact .contact-wrap >.nav-tabs li {
  margin: 0;
}
.contact .contact-wrap >.nav-tabs li a {
  border: 0;
  border-right: 1px solid #eaeaea;
  color: #999;
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  margin: 10px 20px 10px 0;
  padding: 2px 20px 2px 0;
  text-transform: uppercase;
}
.contact .contact-wrap >.nav-tabs li a:hover,
.contact .contact-wrap >.nav-tabs li a:active,
.contact .contact-wrap >.nav-tabs li a:focus {
  background: none;
}
.contact .contact-wrap >.nav-tabs li:last-child a {
  border: none;
}
.contact .contact-wrap >.nav-tabs li.active,
.contact .contact-wrap >.nav-tabs li.firstactive,
.contact .contact-wrap >.nav-tabs li.lastactive {
  border: 0;
  background: none;
}
.contact .contact-wrap >.nav-tabs li.active a,
.contact .contact-wrap >.nav-tabs li.firstactive a,
.contact .contact-wrap >.nav-tabs li.lastactive a {
  color: #2a2a2a;
}
.contact .contact-wrap >.nav-tabs li.active a:hover,
.contact .contact-wrap >.nav-tabs li.active a:active,
.contact .contact-wrap >.nav-tabs li.active a:focus,
.contact .contact-wrap >.nav-tabs li.firstactive a:hover,
.contact .contact-wrap >.nav-tabs li.firstactive a:active,
.contact .contact-wrap >.nav-tabs li.firstactive a:focus,
.contact .contact-wrap >.nav-tabs li.lastactive a:hover,
.contact .contact-wrap >.nav-tabs li.lastactive a:active,
.contact .contact-wrap >.nav-tabs li.lastactive a:focus {
  border: none;
  border-right: 1px solid #eaeaea;
}
.contact .accordion-heading .accordion-toggle {
  font-weight: bold;
}
.contact table.recaptchatable td {
  line-height: 0;
}
#archive-items > li {
  line-height: normal;
  margin: 0;
  overflow: visible;
  padding: 0;
}
#archive-items div.intro {
  clear: both;
  overflow: hidden;
}
.category-item {
  border-bottom: solid 1px #eaeaea;
  float: none;
  width: 100%;
}
.category-item a.btn-mini {
  margin-top: 10px;
}
.categories-list.category-page {
  overflow: hidden;
}
.categories-list.category-page .categories-list-container {
  margin: 0 -20px;
  position: relative;
}
.categories-list.category-page .categories-list-container:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  height: 20px;
  z-index: 1;
}
.categories-list.category-page > h1 {
  color: #2a2a2a;
  font-family: 'novecento_wide_bookbold', sans-serif;
  font-size: 50px;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  margin: 0 0 20px;
}
.categories-list.category-page .category-item {
  background: url("../../templates/ja_magz/images/line.gif") repeat-y left top;
  border-bottom: 1px solid #eaeaea;
}
.category-page .category-desc {
  color: #7a7a7a;
}
.category-page .category-desc img {
  margin-bottom: 10px;
  display: block;
  width: 100%;
}
.category-page .category-item {
  width: 33.3%;
  float: left;
}
.category-page .category-item > article {
  padding: 20px;
}
.category-page .category-item .page-header {
  margin-bottom: 10px;
  border: none;
  padding: 0;
  line-height: normal;
  text-transform: uppercase;
}
.category-page .category-item .page-header a {
  color: #2a2a2a;
}
.category-page .category-item .page-header a:hover {
  color: #1ea1fc;
}
.category-page .category-item .category-item {
  margin-left: 4.2918454935622%;
}
.category-list .page-header {
  margin-bottom: 10px;
  border: none;
  padding: 0;
  line-height: normal;
  text-transform: uppercase;
}
.category-list .page-header a {
  color: #2a2a2a;
}
.category-list .page-header a:hover {
  color: #1ea1fc;
}
.category-list .category-desc {
  color: #7a7a7a;
}
.category-list .category-desc img {
  float: left;
  margin: 0 20px 10px 0;
  width: 210px;
}
.category-list .cat-items {
  margin-bottom: 20px;
}
.category-list .cat-items > p {
  color: #999;
  font-style: italic;
}
.category-list .cat-children > .cat-title {
  padding-bottom: 0;
  position: relative;
  border: none;
  margin-bottom: 40px;
}
.category-list .cat-children > .cat-title:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  bottom: 18px;
  left: 0;
}
.category-list .cat-children > .cat-title h3 {
  padding: 0;
  background: #fff;
  display: inline-block;
  z-index: 2;
  position: relative;
  padding-right: 10px;
  color: #2a2a2a;
  font-family: 'novecento_wide_bookbold', sans-serif;
  font-size: 50px;
  font-weight: 300;
}
.category-list .cat-children > div {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
}
.newsfeed-category > h2,
.newsfeed > h2 {
  border-bottom: 3px solid #2a2a2a;
  color: #2a2a2a;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.newsfeed-category .category-desc,
.newsfeed .category-desc {
  margin-bottom: 20px;
}
.newsfeed-category .category li,
.newsfeed .category li {
  *zoom: 1;
}
.newsfeed-category .category li:before,
.newsfeed-category .category li:after,
.newsfeed .category li:before,
.newsfeed .category li:after {
  display: table;
  content: "";
  line-height: 0;
}
.newsfeed-category .category li:after,
.newsfeed .category li:after {
  clear: both;
}
.newsfeed-category .cat-list-row1,
.newsfeed .cat-list-row1 {
  background: #fff;
}
.newsfeed-category select,
.newsfeed select {
  width: 100px;
}
.newsfeed-category .list-title a,
.newsfeed .list-title a {
  color: #2a2a2a;
}
.newsfeed-category .list-title a:hover,
.newsfeed-category .list-title a:focus,
.newsfeed-category .list-title a:active,
.newsfeed .list-title a:hover,
.newsfeed .list-title a:focus,
.newsfeed .list-title a:active {
  color: #1ea1fc;
}
.newsfeed > h2 {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 0;
}
.newsfeed .feed-description {
  margin-bottom: 20px;
  font-size: 15px;
}
.newsfeed .feed-item-description .feed-description {
  font-size: 13px;
}
.newsfeed ol li > a {
  font-weight: bold;
  font-size: 15px;
}
.weblink-category > h2 {
  border-bottom: 3px solid #2a2a2a;
  color: #2a2a2a;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.weblink-category .category-desc {
  margin-bottom: 20px;
}
.weblink-category .category li {
  padding-top: 10px;
  padding-bottom: 5px;
  *zoom: 1;
}
.weblink-category .category li:before,
.weblink-category .category li:after {
  display: table;
  content: "";
  line-height: 0;
}
.weblink-category .category li:after {
  clear: both;
}
.weblink-category .category li .list-title {
  display: inline-block;
  margin-bottom: 5px;
}
.weblink-category .cat-list-row1 {
  background: #fff;
}
.weblink-category select {
  width: 100px;
}
.weblink-category .list-title a {
  color: #2a2a2a;
}
.weblink-category .list-title a:hover,
.weblink-category .list-title a:focus,
.weblink-category .list-title a:active {
  color: #1ea1fc;
}
.weblink-category .tags {
  margin-top: 10px;
}
.edit.item-page textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.edit.item-page .tab-content {
  margin-bottom: 20px;
}
#adminForm .adminlist th {
  color: #2a2a2a;
}
#adminForm .adminlist th a {
  color: #2a2a2a;
}
#adminForm .filter .hr-condensed {
  border: none;
  margin: 0;
}
#adminForm #jform_tags_chzn {
  width: 98%;
}
#adminForm #jform_tags_chzn .chzn-choices {
  background: none;
  border: solid 1px #ddd;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#adminForm #jform_tags_chzn .chzn-drop {
  width: 97%;
  border: none;
}
.button2-left,
.button2-left div {
  float: left;
}
.button2-right,
.button2-right div {
  float: right;
}
.button2-left {
  margin: 5px 5px 0 0;
}
.button2-right {
  margin: 5px 0 0 5px;
}
.button2-left a,
.button2-right a,
.button2-left span,
.button2-right span {
  background: #eee;
  border: 1px solid #e1e1e1;
  color: #999;
  cursor: pointer;
  display: block;
  float: left;
  padding: 2px 10px;
  border-radius: 2px;
}
.button2-left span,
.button2-right span {
  color: #999;
  cursor: default;
}
.button2-left .page a,
.button2-right .page a,
.button2-left .page span,
.button2-right .page span {
  padding: 0 6px;
}
.button2-left a:hover,
.button2-right a:hover {
  background: #e1e1e1;
  color: #444;
  text-decoration: none;
}
.edit.item-page .control-group {
  margin-top: 20px;
}
.edit.item-page .control-group a.modal {
  position: inherit;
  width: auto !important;
  margin-left: 0 !important;
  top: auto !important;
  z-index: 10;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.edit.item-page .control-group .control-label label {
  display: inline-block;
}
.controls img.calendar {
  cursor: pointer;
  margin-left: 5px;
}
.pagenavcounter {
  margin: 4px 0 20px;
  font-weight: normal;
  font-family: Helvetica, Arial, sans-serif;
}
.item-page .article-body .pagenavcounter {
  text-align: right;
}
#article-index,
.article-index.dropdown {
  margin: 0 0 0 10px;
  border: solid 1px #eaeaea;
  cursor: pointer;
}
#article-index:hover,
#article-index:focus,
#article-index:active,
.article-index.dropdown:hover,
.article-index.dropdown:focus,
.article-index.dropdown:active {
  color: #1ea1fc;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
#article-index h3,
.article-index.dropdown h3 {
  background: url("../../templates/ja_magz/images/arrow-break.png") no-repeat 95% center;
  font-size: 13px;
  color: #2a2a2a;
  line-height: normal;
  margin: 0;
  padding: 5px 30px 5px 15px;
}
#article-index ul,
.article-index.dropdown ul {
  margin: 0 0 0 20px;
}
#article-index .dropdown-menu,
.article-index.dropdown .dropdown-menu {
  border: solid 1px #eaeaea;
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 1px;
  margin-right: -1px;
  width: 160px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#article-index .dropdown-menu li,
.article-index.dropdown .dropdown-menu li {
  padding: 4px 0 0 0;
  border-top: solid 1px #eaeaea;
  overflow: hidden;
}
#article-index .dropdown-menu li:first-child,
.article-index.dropdown .dropdown-menu li:first-child {
  border-top: none;
}
#article-index .dropdown-menu li > a,
.article-index.dropdown .dropdown-menu li > a {
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  display: inline-block;
}
.pagenav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.pagenav li {
  margin: 0;
  padding: 0;
  float: left;
}
.pagenav li.pagenav-prev {
  margin-right: 10px;
}
.pagenav li a {
  background: #1ea1fc;
  padding: 10px 20px;
  color: #fff;
  font-size: 12px;
  border: none;
  font-weight: bold;
}
.pagenav li a:hover,
.pagenav li a:active,
.pagenav li a:focus {
  background-color: #aaa;
  color: #fff;
}
.floatnav .pagenav-prev,
.floatnav .pagenav-next {
  position: fixed;
  top: 50%;
  margin-top: -40px;
  z-index: 12;
}
.floatnav .pagenav-prev .pagenav-text,
.floatnav .pagenav-next .pagenav-text {
  -webkit-transition: -webkit-transform 400ms;
  -moz-transition: -moz-transform 400ms;
  -o-transition: -o-transform 400ms;
  transition: transform 400ms;
  transform-origin: 100% 50%;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}
.floatnav .pagenav-prev:hover .pagenav-text,
.floatnav .pagenav-next:hover .pagenav-text {
  -webkit-transform: scale(1,1);
  -ms-transform: scale(1,1);
  transform: scale(1,1);
}
.floatnav .pagenav-prev:hover a,
.floatnav .pagenav-next:hover a {
  background-color: #2a2a2a;
}
.floatnav li a {
  background: #eaeaea url("../../templates/ja_magz/images/arrow-next-ltr.png") no-repeat center center;
  width: 40px;
  height: 80px;
  display: inline-block;
  text-indent: -999em;
  padding: 0;
  vertical-align: top;
  margin-left: -4px;
}
.floatnav li a:hover {
  background: #2a2a2a url("../../templates/ja_magz/images/arrow-next-hover-ltr.png") no-repeat center center;
}
.floatnav .pagenav-container {
  position: relative;
}
.floatnav .pagenav-container .pagenav-text {
  position: absolute;
  top: 0;
  right: 40px;
  background: #eaeaea;
  padding: 20px 15px;
  font-size: 12px;
  color: #2a2a2a;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
}
.floatnav .pagenav-container .pagenav-text span {
  display: block;
  width: 260px;
  height: 40px;
  overflow: hidden;
}
.floatnav .pagenav-prev {
  left: 0;
}
.floatnav .pagenav-prev .pagenav-container .pagenav-text {
  float: right;
  left: 40px;
  right: auto;
  transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
}
.floatnav .pagenav-prev .pagenav-container a {
  background: #eaeaea url("../../templates/ja_magz/images/arrow-prev-ltr.png") no-repeat center center;
  margin: 0 -4px 0 0;
}
.floatnav .pagenav-prev .pagenav-container a:hover {
  background: #2a2a2a url("../../templates/ja_magz/images/arrow-prev-hover-ltr.png") no-repeat center center;
}
.floatnav .pagenav-prev:hover .pagenav-container a {
  background-color: #2a2a2a;
}
.floatnav .pagenav-next {
  right: 0;
}
.counter {
  float: left;
  line-height: 1;
  margin: 10px 0;
  text-align: right;
}
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span,
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span,
.pager ul > li:first-child > a,
.pager ul > li:first-child > span,
.pager ul > li:last-child > a,
.pager ul > li:last-child > span {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.article-content .pagination ul > li:first-child,
.article-content .pager ul > li:first-child {
  margin-right: 4px;
}
.article-content .pagination ul > li:last-child,
.article-content .pager ul > li:last-child {
  margin-right: 4px;
}
.article-content .pagination li,
.article-content .pager li {
  background: #1ea1fc;
  border: none;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 20px;
  text-transform: none;
  float: left;
}
.article-content .pagination li:hover,
.article-content .pagination li:active,
.article-content .pagination li:focus,
.article-content .pager li:hover,
.article-content .pager li:active,
.article-content .pager li:focus {
  background-color: #aaa;
  color: #fff;
}
.article-content .pagination li.pagenav-prev,
.article-content .pager li.pagenav-prev {
  margin-right: 10px;
}
.article-content .pagination li a,
.article-content .pager li a {
  background: none;
  border: none;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-transform: none;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.article-content .pagination li a:hover,
.article-content .pagination li a:active,
.article-content .pagination li a:focus,
.article-content .pager li a:hover,
.article-content .pager li a:active,
.article-content .pager li a:focus {
  background-color: none;
  color: #fff;
}
.article-content .pager {
  float: right;
}
.items-more h3 {
  margin: 0 0 5px;
}
.back_button a {
  display: block;
  margin: 10px 0;
}
.filters {
  margin: 10px 0 5px;
}
.display-limit {
  margin: 10px 0 5px;
}
.filters .filter-search,
.filters .display-limit {
  float: left;
  width: 50%;
}
.filters .display-limit {
  float: right;
  text-align: right;
}
#system-message-container div#system-message {
  margin-bottom: 0;
}
#system-message-container div#system-message .alert {
  margin-bottom: 10px;
  padding: 20px;
}
#system-message-container div#system-message > div {
  padding: 20px;
}
#system-message-container div#system-message.alert {
  margin-bottom: 10px;
}
#system-message dt {
  font-weight: bold;
}
#system-message dd {
  font-weight: bold;
}
#system-message dd.message ul,
#system-message dd.error ul,
#system-message dd.notice ul {
  margin: 0;
  padding: 0;
}
#system-message dd.message ul li,
#system-message dd.error ul li,
#system-message dd.notice ul li {
  background: none;
  margin: 0;
  padding: 5px;
}
#system-message > .message > ul {
  background-position: 4px 3px;
  border-width: 1px;
}
#system-message > .message > ul > li {
  margin: 0 0 0 35px !important;
  min-height: 25px;
  padding: 5px 10px;
  text-indent: 0;
}
.tip-wrap {
  background: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
  max-width: 300px;
  z-index: 999;
}
.tip-title {
  border-bottom: 1px solid #eaeaea;
  font-weight: bold;
  padding: 5px 10px;
  color: #2a2a2a;
}
.tip-text {
  margin: 0;
  padding: 10px;
  font-size: 12px;
}
.tip-text > img {
  margin: 0 10px 10px 0;
}
.tip-text > iframe {
  width: 100%;
}
.hasTip img {
  border: none;
  margin: 0 5px 0 0;
}
.width-10 {
  width: 10px;
}
.width-20 {
  width: 20px;
}
.width-30 {
  width: 30px;
}
.width-40 {
  width: 40px;
}
.width-50 {
  width: 50px;
}
.width-60 {
  width: 60px;
}
.width-70 {
  width: 70px;
}
.width-80 {
  width: 80px;
}
.width-90 {
  width: 90px;
}
.width-100 {
  width: 100px;
}
.height-10 {
  height: 10px;
}
.height-20 {
  height: 20px;
}
.height-30 {
  height: 30px;
}
.height-40 {
  height: 40px;
}
.height-50 {
  height: 50px;
}
.height-60 {
  height: 60px;
}
.height-70 {
  height: 70px;
}
.height-80 {
  height: 80px;
}
.height-90 {
  height: 90px;
}
.height-100 {
  height: 100px;
}
.iframe-bordered {
  border: 1px solid #ddd;
}
.input-prepend .chzn-container-single .chzn-single {
  border-color: #eaeaea;
  height: 26px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.input-prepend .chzn-container-active .chzn-single-with-drop {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}
.input-prepend .chzn-container-single .chzn-drop {
  border-color: #eaeaea;
}
.btn-group .chzn-results {
  white-space: normal;
}
.languageswitcherload {
  float: right;
  width: 100%;
}
.languageswitcherload .mod-languages {
  text-align: right;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  background: none;
  color: #0379cb;
  border: 1px solid rgba(0,0,0,0);
}
.tags {
  display: block;
  margin-top: 40px;
  list-style: none;
  overflow: hidden;
  padding: 0;
}
.tags span {
  color: #666;
  display: inline-block;
  margin: 0 5px 5px 0;
}
.tags span a,
.tags span a.label-info[href] {
  background: #eaeaea;
  color: #666;
  display: block;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
  text-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.tags span a:hover,
.tags span a:focus,
.tags span a:active,
.tags span a.label-info[href]:hover,
.tags span a.label-info[href]:focus,
.tags span a.label-info[href]:active {
  background: #1ea1fc;
  color: #fff;
  text-decoration: none;
}
.tag-category ul.category {
  margin-top: 20px;
}
.tag-category ul.category li {
  padding: 20px;
  border-color: #eaeaea;
}
.tag-category ul.category li.cat-list-row1 {
  background-color: #F4F4F4;
}
.tag-category ul.category li h3 {
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 15px;
  padding: 0;
}
.tag-category ul.category li h3 a {
  color: #2a2a2a;
}
.tag-category ul.category li h3 a:hover,
.tag-category ul.category li h3 a:focus,
.tag-category ul.category li h3 a:active {
  color: #1ea1fc;
}
.tag-category ul.category li img {
  margin-bottom: 20px;
}
.lt-ie9 .floatnav .pagenav-prev .pagenav-text,
.lt-ie9 .floatnav .pagenav-next .pagenav-text {
  display: none;
}
.lt-ie9 .floatnav .pagenav-prev:hover .pagenav-text,
.lt-ie9 .floatnav .pagenav-next:hover .pagenav-text {
  display: block;
}
.lt-ie10 .search .phrases-box label {
  vertical-align: text-top;
}
#page-site a.modal.btn {
  position: relative;
  top: 0;
  left: auto;
  right: 0;
  z-index: 10;
  width: auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
}
.mce-btn button {
  text-transform: none;
  background: none;
}

