

@media (max-width: 1024px) {
  .article-info .event-day .startday,
  .article-info .event-day .endday {
    letter-spacing: -1px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .blog .leading .left-blogitem .article-header,
  .blog .leading .left-blogitem .article-intro {
    padding-right: 20px;
  }
  .view-article.photo-page body .item-page,
  .view-article.video-page body .item-page,
  .view-article.media-page body .item-page {
    margin-left: 20px;
  }
  #finder-search fieldset.word > label {
    display: block;
  }
  .article-info .event-day {
    width: 100%;
  }
  .article-info .event-day .startday,
  .article-info .event-day .endday {
    display: inline-block;
    font-size: 12px;
  }
  .article-info .event-day .startday {
    margin-right: 6px;
    position: relative;
  }
  .article-info .event-day .startday:after {
    content: "-";
    display: block;
    width: 3px;
    height: 3px;
    position: absolute;
    right: -2px;
    top: 0px;
  }
  .article-info .times {
    width: 100%;
    text-align: center;
  }
  .article-info .times span {
    letter-spacing: 3px;
    font-size: 25px;
  }
  .user-info .info-contact {
    width: 76%;
  }
  .article-info .event-day .startday,
  .article-info .event-day .endday {
    font-size: 11px;
    letter-spacing: -1px;
  }
  .contact .contact-form {
    padding-left: 20px;
  }
  .contact .contact-form .control-contact > label {
    float: none;
    width: 100%;
  }
  .contact .contact-form .control-contact > input,
  .contact .contact-form .control-contact > textarea {
    width: 95%;
  }
}
@media (max-width: 767px) {
  .blog-header,
  .page-header {
    margin-bottom: 20px;
  }
  .blog-header .page-title,
  .blog-header h1,
  .page-header .page-title,
  .page-header h1 {
    font-size: 30px;
  }
  #finder-search fieldset.word > label {
    display: block;
  }
  .finder > h1,
  .contact > h1,
  .newsfeed-category > h1 {
    font-size: 35px;
  }
  .item-page iframe {
    height: auto;
    width: 100%;
  }
  .item-page .article-body .divider-vertical {
    border: none;
  }
  .video .article-content .article-body {
    overflow: hidden;
  }
  .article-info {
    width: 75%;
  }
  .view-article.photo-page body .item-page,
  .view-article.video-page body .item-page,
  .view-article.media-page body .item-page {
    margin-left: 0;
  }
  .view-article.photo-page body .media-header,
  .view-article.video-page body .media-header,
  .view-article.media-page body .media-header {
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px 0;
  }
  .view-article.photo-page body .media-header .container,
  .view-article.video-page body .media-header .container,
  .view-article.media-page body .media-header .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .view-article.photo-page body .media-header .article-title,
  .view-article.video-page body .media-header .article-title,
  .view-article.media-page body .media-header .article-title {
    margin-bottom: 20px;
  }
  .view-article.photo-page body .media-header .article-title a,
  .view-article.video-page body .media-header .article-title a,
  .view-article.media-page body .media-header .article-title a {
    font-size: 20px;
  }
  .view-article.photo-page body .media-header .article-aside,
  .view-article.video-page body .media-header .article-aside,
  .view-article.media-page body .media-header .article-aside {
    margin-bottom: 20px !important;
    margin-top: 10px !important;
  }
  .newsfeed-category .btn-toolbar .btn-group input {
    width: 150px;
  }
  .search-results {
    border-bottom: none;
  }
  .contact .contact-col1 .contact-misc {
    padding-right: 0;
  }
  .contact .accordion .accordion-inner,
  .contact .tab-content .accordion-inner {
    padding-left: 20px;
    padding-left: 20px;
  }
  .contact .accordion .contact-form .control-contact label,
  .contact .tab-content .contact-form .control-contact label {
    width: 130px;
  }
  .user-info .info-contact {
    width: 70%;
  }
  .contact .row-fluid [class*="span"] {
    margin-left: 0;
    width: 100%;
  }
  .contact .contact-form {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
  }
}
@media (max-width: 599px) {
  article img[align=left],
  .img_caption.left,
  article img[align=right],
  .img_caption.right,
  .img-fulltext-left,
  .img-fulltext-right {
    float: none !important;
    margin-left: 0;
    margin-right: 0;
    width: 100% !important;
  }
  .carousel .carousel-caption {
    padding-left: 0;
    padding-right: 0;
  }
  .article-info .event-day {
    width: 100%;
  }
  .article-info .event-day .startday,
  .article-info .event-day .endday {
    display: block;
    font-size: 12px;
  }
  .article-info .event-day .startday {
    margin-right: 6px;
    position: relative;
  }
  .article-info .times {
    width: 100%;
    text-align: left;
  }
  .article-info .times span {
    letter-spacing: 0px;
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .categories-list > h1 {
    font-size: 30px;
  }
  .categories-list .category-item {
    width: 100%;
  }
  .categories-list .category-item .page-header {
    font-size: 25px;
  }
  .category-list .cat-children > .cat-title h3 {
    font-size: 35px;
  }
  .category-list .page-header {
    font-size: 25px;
  }
  .blog .images-content {
    width: auto;
    float: none;
    margin: 0 0 10px 0;
  }
  .blog .leading .article-header .article-title {
    font-size: 25px;
  }
  .blog .leading .left-blogitem .article-header,
  .blog .leading .left-blogitem .article-intro {
    padding-right: 20px;
  }
  .blog .article-header .article-title {
    font-size: 18px;
    line-height: 24px;
  }
  .blog-header .page-title,
  .blog-header h1,
  .page-header .page-title,
  .page-header h1 {
    font-size: 30px;
  }
  .view-contact .posted-by {
    width: 75%;
  }
  .view-contact .switch-container ul {
    margin-left: 0;
  }
  .contact .accordion .accordion-inner,
  .contact .tab-content .accordion-inner {
    padding-left: 20px;
    padding-right: 20px;
  }
  .contact .accordion .contact-form .control-group-footer .control-group,
  .contact .tab-content .contact-form .control-group-footer .control-group {
    margin-left: 0;
  }
  .contact .accordion .contact-form .control-contact label,
  .contact .tab-content .contact-form .control-contact label {
    width: 100%;
  }
  .contact .accordion .contact-form .control-contact input[type="text"],
  .contact .accordion .contact-form .control-contact textarea,
  .contact .tab-content .contact-form .control-contact input[type="text"],
  .contact .tab-content .contact-form .control-contact textarea {
    width: 95%;
  }
  .user-info .info-contact {
    width: 100%;
    margin-top: 10px;
  }
  .user-info .avatar {
    margin-right: 0;
    width: 100%;
  }
  .user-info .avatar img {
    width: 100%;
  }
  .blog-featured.av-list .article-aside .article-info,
  .userpage.av-list .article-aside .article-info {
    width: 55% !important;
  }
}
@media (max-width: 360px) {
  .contact .contact-form .control-contact > label {
    float: none;
    width: 100%;
  }
  .contact .contact-form .control-contact > input,
  .contact .contact-form .control-contact > textarea {
    width: 95%;
  }
}
@media (max-width: 320px) {
  .user-info .info-contact {
    width: 100%;
    margin-top: 10px;
  }
  .user-info .avatar {
    margin-right: 0;
    width: 100%;
  }
  .user-info .avatar img {
    width: 100%;
  }
  .contact .contact-form .control-contact > input,
  .contact .contact-form .control-contact > textarea {
    width: 84%;
  }
  .contact .contact-form .control-group-footer .control-group > button.btn {
    width: 88%;
  }
}

